<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.sale.mapper.SaleMapper">
	<select id="selectSaleList" resultType="SaleVO">
		with sa as  ( SELECT company_no, SUM(day_sales) AS daySales FROM sales WHERE TO_CHAR(sales_date,'yyyyMMdd') = TO_CHAR(sysdate, 'yyyyMMdd') GROUP BY company_no )
		SELECT 
		    co.region,
		    sa.company_no,
		    co.company_name,
		    co.brn,
		    mem.name,
		    mem.contract_date,
		    daySales,
		    mem.other
		    
		FROM member mem
		JOIN company co ON mem.company_no = co.company_no
		JOIN sa ON co.company_no = sa.company_no

		ORDER BY daySales
	</select>
	
	<select id="selectProductList" resultType="ProductVO" parameterType="String">
		SELECT sub
			  ,product_name
		      ,sale_price
		FROM product
		<where>
			<if test="sub != null and sub != ''">
				sub = #{sub}
			</if>
		</where>
	</select>
	
	<insert id="insertSale" parameterType="PosVO">
		INSERT INTO sale_detail_history (sale_no
										,product_code
										,sale_price
										,quantity
										,company_no
										,last
										,sales_date)
		VALUES ('PA' || (SELECT GETSEQ('sale_detail_history','sale_no') FROM dual)
		        ,(SELECT product_code FROM product WHERE product_name = #{productCode})
		        ,#{salePrice}
		        ,#{quantity}
		        ,(SELECT company_no 
					FROM member 
					WHERE name = #{name})
		        ,'주문'
		        , sysdate)
	</insert>
	
	<insert id="insertSales" parameterType="String">
		CALL SALES_PROD(#{companyNo})
	</insert>
	
	<select id="selectSales" resultType="PosVO" parameterType="String">
		SELECT day_sales
		      ,sales_date
		FROM sales
		WHERE TO_CHAR(sales_date, 'yyyyMM') = #{salesDate}
		AND company_no = #{companyNo}
	</select>
	
	<select id="selectDetailSale" resultType="PosVO" parameterType="String">
		SELECT NVL(PRO_NAME(product_code), '삭제예정제품') AS productCode
			  , quantity
			  , sale_price
			  , TO_CHAR(sales_date, 'yy') || '년' || TO_CHAR(sales_date, 'MM') || '월' || TO_CHAR(sales_date, 'dd') || '일 ' || TO_CHAR(sales_date, 'HH') || '시' || TO_CHAR(sales_date, 'mi') || '분' || TO_CHAR(sales_date, 'ss') AS saleDate
		FROM sale_detail_history
		WHERE last = '주문'
		AND company_no = #{companyNo}
	</select>
	
	<select id="selectSaleChart" resultType="PosVO">
		SELECT TO_CHAR(sales_date, 'yyyyMMdd') AS saleDate
		      ,total_quantity
		      ,day_sales
		FROM  sales
		WHERE company_no = #{companyNo}
	</select>
	
	<select id="selectSaleProduct" resultType="PosVO">
		SELECT TO_CHAR(sales_date, 'yyyyMMdd') AS saleDate
		      ,(SELECT product_name 
		        FROM product 
		        WHERE product_code = sale_detail_history.product_code) AS product_code
		      ,sale_price
		      ,quantity
		FROM sale_detail_history
		WHERE company_no = #{companyNo}
	</select>
	
</mapper>