<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.ordering.mapper.OrderingMapper">
	<select id="selectOrderingList" resultType="OrderingVO">
		SELECT ordering_code
		       , ordering_date
		       , ordering_request_manager
		       , total_price
		       , approval_whether
		       , ordering_approval_manager
		FROM   ordering
	</select>
	
	<insert id="insertOrdering">
		<selectKey resultType="string" keyProperty="orderformNo" order="BEFORE">
			SELECT 'BW'|| GETSEQ('ordering', 'orderform_no')
			FROM dual
		</selectKey>
		INSERT INTO ordering('ordering_code', 'ordering_date', 'ordering_request_manager', 'total_price', 'approval_whether', 'orderform_no', 'delivery_desire_date')
		VALUES (#{orderingCode}, sysdate, #{orderingRequestManager}, #{totalPrice}, 'd3', #{orderformNo}, '#{deliveryDesireDate}')
	</insert>
	
	<insert id="insertOrderingDetail">
		<selectKey resultType="string" keyProperty="detailcode" order="BEFORE">
			SELECT GETSEQ('ordering_detail', 'ordering_detail_code') 
			FROM dual
		</selectKey>
		INSERT INTO ordering_detail('ordering_detail_code'
									, 'quantity'
									<if test="#{orderingDetailVO.orderingIngredient} != ''">
									, 'ordering_ingredient'
									</if>
									<if test="#{orderingDetailVO.orderingProduct} != ''">
									, 'ordering_product'
									</if>
									, 'ordering_code')
		VALUES(#{detailCode}
			   , #{quantity}
			   <if test="#{orderingDetailVO.orderingIngredient} != ''">
			   , #{orderingIngredient}
			   </if>
			   <if test="#{orderingDetailVO.orderingProduct} != ''">
			   , #{orderingProduct}
			   </if>
			   , #{orderingCode})
	</insert>
	
	<select id="selectOrderingCode">
		SELECT 'BC'|| GETSEQ('ordering', 'ordering_code')
		FROM dual;
	</select>
</mapper>