<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<!-- Sweet Alert 사용하기 위한 script, css -->
<script src="/src/main/resources/static/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="/src/main/resources/static/plugins/sweetalert2/sweet-alert.init.js"></script>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/plugins/sweetalert2/sweetalert2.css" />


<style>
.required {
	color: red;
}

.insertButtons {
	padding-bottom: 10px;
}

.searchs {
	
}

.updateButtons button {
	float: right;
	margin-left: 10px;
}
</style>

<div class="container">
	<div class="parentArea">
		<div class="insertButtons">
			<button type="button" class="btn btn-primary btn-sm" id="managerInsertFormBtn">담당자 계정 생성</button>
			<button type="button" class="btn btn-primary btn-sm" id="employeeInsertBtn">사원 계정 생성</button>
		</div>
		<div>
		
		
			<!-- 회원 테이블 시작 -->
			<div class="card-box mb-30">
				<div class="pb-20">
					<table id="accounts" class="accounts-table table stripe hover nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">순번</th>
								<th>권한</th>
								<th>아이디</th>
								<th>이름</th>
								<th>회사명</th>
								<th class="datatable-nosort">기타사항</th>
								<th hidden="hidden">고유번호</th>
								<th hidden="hidden">사업자등록번호</th>
								<th hidden="hidden">연락처</th>
								<th hidden="hidden">지역</th>
								<th hidden="hidden">주소</th>
								<th hidden="hidden">계약일자</th>

							</tr>
						</thead>
						<tbody>
							<th:block th:each="acc, sts : ${accounts}">
								<tr>
									<td class="table-plus">[[ ${sts.index + 1} ]]</td>
									<td id="parentPosit" th:text="${acc.position == 'b1' ? '담당자' : (acc.position == 'b2' ? '사원' : '기타')}"></td>
									<td id="parentId">[[ ${acc.id} ]]</td>
									<td id="parentName">[[ ${acc.name} ]]</td>
									<td id="parentComName">[[ ${acc.companyName} ]]</td>
									<td id="parentOther">[[ ${acc.other} ]]</td>
									<td id="parentMemNo" hidden="hidden">[[ ${acc.memberNo} ]]</td>
									<td id="parentBrn"  hidden="hidden">[[ ${acc.brn} ]]</td>
									<td id="parentTel"  hidden="hidden">[[ ${acc.tel} ]]</td>
									<td id="parentRegion"  hidden="hidden">[[ ${acc.region} ]]</td>									
									<td id="parentComAddr"  hidden="hidden">[[ ${acc.companyAddress} ]]</td>
									<td id="parentContDt"  hidden="hidden">[[ ${acc.contractDate} ]]</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 회원 테이블 끝 -->
		</div>

	</div>
	<hr>
	<div class="childArea">
		<!-- 기본 상세보기 폼 시작 -->
		<div class="updateAccounts" style="display: block;">	<!-- 기본 block -->
			<form id="updateAccountFrm" method="post">
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>고유번호</label> <input type="text" class="form-control"
								id="updMemNo" name="companyNo" readonly>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>사업자등록번호</label> <input type="text" class="form-control"
								id="updBrn" name="brn" readonly>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>계약일자</label>
							<input class="form-control" type="text"
								id="updContDt" name="contractDate" readonly>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>업체명</label> <input type="text" class="form-control"
								id="updComName" name="companyName"  readonly>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>이름</label> <input type="text" class="form-control"
								id="updName" name="name" >
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>연락처</label> <input type="text" class="form-control"
								id="updTel" name="companyTel" >
						</div>
					</div>
					
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>지역</label>
							<select class="custom-select col-12" id="updRegion" name="region">
								<option value="서울">서울</option>
								<option value="대전">대전</option>
								<option value="대구">대구</option>
								<option value="부산">부산</option>
						</select>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>주소</label> <input type="text" class="form-control"
								id="updAddr" name="companyAddress" >
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label>기타사항</label> <input type="text" class="form-control"
								id="updOther" name="other" >
						</div>
					</div>
					<div class="col-md-4 col-sm-12" hidden="hidden">
						<div class="form-group">
							<label>아이디</label> <input type="text" class="form-control"
								id="updId" name="id" >
						</div>
					</div>
					<div class="updateButtons">
						<button type="button" class="btn btn-danger btn-lg" id="delAccBtn">선택한
							계정 삭제</button>
						<button type="button" class="btn btn-primary btn-lg"
							id="udtAccBtn">수정사항 저장</button>
						<button type="button" class="btn btn-warning btn-lg"
							id="resetPwBtn">비밀번호 초기화</button>
					</div>
				</div>
			</form>
		</div>
		<!-- 기본 상세보기 폼 끝 -->
		
		
		
		<!-- "담당자 계정 생성" 폼 시작 -->
		<div class="insertMngAccount" style="display: none;">	<!-- 기본 none -->
			<form id="insertMngAccountFrm" method="post">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="form-group">
						<label>사업자등록번호</label>
						<input type="text" class="form-control" name="brn">
					</div>
				</div>
				<div class="col-md-1 col-sm-12">
					<label>&nbsp;</label> <input type="button" id="brnConfirmBtn"
						class="form-control btn btn-light" value="검증">
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>이름</label><b class="required"> *</b>
						<input type="text" class="form-control" name="name">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>업체명</label><b class="required"> *</b>
						<input type="text" class="form-control" name="companyName">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>연락처</label><b class="required"> *</b>
						<input type="text" class="form-control" name="companyTel">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>업체분류</label><b class="required"> *</b>
						<select class="custom-select col-12" name="div">
							<option selected="selected" value="a1">본사</option>
							<option value="a2">공급업체</option>
							<option value="a3">제조공장</option>
							<option value="a4">물류창고</option>
							<option value="a5">가맹점</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>지역</label><b class="required"> *</b>
						<select class="custom-select col-12" name="region">
							<option selected="selected" value="서울">서울</option>
							<option value="대전">대전</option>
							<option value="대구">대구</option>
							<option value="부산">부산</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>주소</label> <input type="text" class="form-control" name="companyAddress">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>계약일자</label>
						<input class="form-control date-picker" type="text" name="contractDate">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>기타사항</label> <input type="text" class="form-control" name="other">
					</div>
				</div>
				<div class="col-md-4 col-sm-12" hidden="hidden">	<!-- hidden할것 -->
					<div class="form-group">
						<label>직책(담당자)</label> <input type="text" class="form-control" value="b1" name="position">
					</div>
				</div>
				
				<div class="updateButtons">
					<button type="reset" class="btn btn-warning btn-lg" id="resetMngBtn">취소</button>
					<button type="button" class="btn btn-primary btn-lg" id="insertMngBtn">확인</button>
				</div>
			</div>
			</form>
		</div>
		<!-- "담당자 계정 생성" 폼 끝 -->
		
		
		
		<!-- "사원 계정 생성" 폼 시작 -->
		<div class="insertEmployeeAccount" style="display: none;">	<!-- 기본 none -->
			<form id="insertEmpAccountFrm" method="post">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>이름</label><b class="required"> *</b>
						<input type="text" class="form-control" name="name">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>업체명</label><b class="required"> *</b>
						<input type="text" class="form-control" name="companyName">	<!-- member insert에 이건 필요 X -->
					</div>
				</div>
				<div class="col-md-4 col-sm-12">	<!-- TODO 나중에 HIdden 할것 -->
					<div class="form-group">
						<label>업체코드</label><b class="required"> *</b>
						<input type="text" class="form-control" name="companyNo">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>연락처</label> <input type="text" class="form-control" name="companyTel">
					</div>
				</div>
				<div class="col-md-4 col-sm-12" hidden="hidden">
					<div class="form-group">
						<label>직책(사원)</label> <input type="text" class="form-control" value="b2" name="position">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>계약일자</label>
						<input class="form-control date-picker" type="text" name="contractDate">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>비밀번호</label><b class="required"> *</b>
						<input type="password" class="form-control" name="password">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>비밀번호 확인</label><b class="required"> *</b>
						<input type="password" class="form-control">
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form-group">
						<label>기타사항</label> <input type="text" class="form-control" name="other">
					</div>
				</div>
				
				<div class="updateButtons">
					<button type="reset" class="btn btn-warning btn-lg" id="resetEmployeeBtn">취소</button>
					<button type="button" class="btn btn-primary btn-lg" id="insertEmployeeBtn">확인</button>
				</div>
			</div>
			</form>
		</div>
		<!-- "사원 계정 생성" 폼 끝 -->
	</div>
</div>

<script>
	//=======================================================
	// [박진석|24.11.15] 필요한 변수들 선언
	// == 회원가입 시 검증값들
	let isBrnConfirm = false;	//  
	
	
	// 변수 선언 끝	
	//=======================================================
		
		

	//=======================================================
	// [박진석|24.11.14] 버튼들 이벤트 걸기
	document.querySelector("#managerInsertFormBtn").addEventListener("click", showMngInsertForm);		// 담당자 계정 생성으로 폼 전환 버튼
	document.querySelector("#employeeInsertBtn").addEventListener("click", showEmployeeInsertForm);		// 직원 계정 생성으로 폼 전환 버튼
	
	document.querySelector("#insertMngBtn").addEventListener("click", MngInsertAjax);
	document.querySelector("#insertEmployeeBtn").addEventListener("click", employeeInsertAjax);
	document.querySelector("#resetPwBtn").addEventListener("click", resetPwAjax);						// "비밀번호 초기화"
	document.querySelector("#udtAccBtn").addEventListener("click", AccountUpdateAjax);					// "수정사항 저장"
	document.querySelector("#delAccBtn").addEventListener("click", accountDeleteAjax);					// "선택한 계정 삭제"
	document.querySelector("#brnConfirmBtn").addEventListener("click", confirmBrn);
	// 버튼 이벤트 끝
	// =======================================================
	
		
		
	// =======================================================
	// [박진석|24.11.16] 데이터 테이블 선언
	$(document).ready( function () {
	    $('#accounts').DataTable({
	    	pageLength: 5,
	    	paging: true,
            searching: true,
            ordering: true,
            info: true,
            language: {
                lengthMenu: "_MENU_ 개씩 보기",
                zeroRecords: "데이터가 없습니다.",
                info: "총 _TOTAL_개의 데이터 중 _START_ - _END_",
                infoEmpty: "데이터가 없습니다.",
                search: "검색:",
                paginate: {
                    first: "처음",
                    last: "마지막",
                    next: "다음",
                    previous: "이전"
                }
            }
	    });
	} );
	// Datatable 선언 끝
	// =======================================================
		
		
		
	// =======================================================
	// [박진석|24.11.14] "... 계정 생성" 버튼 클릭 시 폼 전환하는 코드
	function showMngInsertForm() {
		document.querySelector(".insertMngAccount").style.display = 'block';		// 담당자 계정 생성 폼만 활성화
		document.querySelector(".updateAccounts").style.display = 'none';
		document.querySelector(".insertEmployeeAccount").style.display = 'none';
		document.querySelector("#resetMngBtn").click();
	}
	
	function showEmployeeInsertForm() {
		document.querySelector(".insertMngAccount").style.display = 'none';		// 직원 계정 생성 폼만 활성화
		document.querySelector(".updateAccounts").style.display = 'none';
		document.querySelector(".insertEmployeeAccount").style.display = 'block';
		document.querySelector("#resetEmployeeBtn").click();
	}
	// 계정 생성 폼 전환 끝
	// =======================================================
		
		
	
	// =======================================================
	// [박진석|24.11.14] 테이블의 행 클릭 시 상세정보 출력하는 코드
	let accTblTrs = document.querySelectorAll(".accounts-table tr");
	
	for (let i = 1; i < accTblTrs.length; i++) {
		accTblTrs[i].addEventListener("click", getTargetInfo);
	}

	function getTargetInfo(e) {
		document.querySelector(".insertMngAccount").style.display = 'none';			// 자세히 보기 폼만 활성화
		document.querySelector(".insertEmployeeAccount").style.display = 'none';
		document.querySelector(".updateAccounts").style.display = 'block';
		
		let parentInfo = e.target.parentElement;
		document.querySelector("#updMemNo").value = parentInfo.querySelector("#parentMemNo").innerText;
		document.querySelector("#updBrn").value = parentInfo.querySelector("#parentBrn").innerText;
		document.querySelector("#updName").value = parentInfo.querySelector("#parentName").innerText;
		document.querySelector("#updComName").value = parentInfo.querySelector("#parentComName").innerText;
		document.querySelector("#updTel").value = parentInfo.querySelector("#parentTel").innerText;
		document.querySelector("#updRegion").value = parentInfo.querySelector("#parentRegion").innerText;
		document.querySelector("#updAddr").value = parentInfo.querySelector("#parentComAddr").innerText;
		
		document.querySelector("#updContDt").value = parentInfo.querySelector("#parentContDt").innerText;		
		
		/*let convDateBefore = parentInfo.querySelector("#parentContDt").innerText;
		document.querySelector("#updContDt").value = formatKoreanDate(convDateBefore);*/
		
		document.querySelector("#updOther").value = parentInfo.querySelector("#parentOther").innerText;
		document.querySelector("#updId").value = parentInfo.querySelector("#parentId").innerText;
	}
	// 상세정보 출력 코드 끝
	// =======================================================
		
		
		
	// =======================================================	
	// [박진석|24.11.14] 비밀번호 초기화하는 코드
	function resetPwAjax() {
		let id = document.querySelector("#updId").value;
		
		if (id == "") {
			alertNoSelected();
		} else {
			$.ajax({
	            url: "ResetAccountPw.do",
	            type: "POST",
	            data: { 'id': id },
	            success: function(data){
	                alert("비밀번호 초기화 이게되네");
	                //swal("비밀번호 초기화가 완료되었습니다.","초기화된 비밀번호는 '0000' 입니다.", {icon: "success"});
	                console.log(data);
	            },
	            error: function(){  alert("비밀번호 초기화 실패");  }
	        });
		}
	}
	
	function alertNoSelected() {
		alert("행을 선택해주세요.");	// TODO: sweetAlert 등 써서 알림창 예쁘게 만들기
	}
	
	// 비밀번호 초기화 끝
	// =======================================================
	
		
		
	// =======================================================
	// [박진석|24.11.15] updateForm 수정하는 AJAX
	function AccountUpdateAjax() {
		$.ajax({
            url: "updateAccount.do",
            type: "POST",
            data: $('#insertMngAccountFrm').serialize(),
            success: function(data){
                alert("수정 이게되네");
                location.reload(true);
            },
            error: function(){  alert("수정 이건안되네");  }
        });
	}
	// update AJAX 끝
	// =======================================================
	
		
		
	// =======================================================	
	// [박진석|24.11.14] 담당자 계정 생성했을 때 DB에 Insert하는 코드
	function MngInsertAjax() {		
		$.ajax({
            url: "insertAccount.do",
            type: "POST",
            data: $('#insertMngAccountFrm').serialize(),
            success: function(data){
                alert("신규등록 성공!");
                location.reload(true);
            },
            error: function(){  alert("신규등록 error");  }
        });
	}
	// 담당자 계정 DB Insert AJAX끝
	// =======================================================
		
	
		
	// =======================================================
	// [박진석|24.11.15] 사원 계정 DB INSERT AJAX
	function employeeInsertAjax() {
		$.ajax({
            url: "insertEmployeeAccount.do",
            type: "POST",
            data: $('#insertEmpAccountFrm').serialize(),
            success: function(data){
                alert("사원 신규등록 성공!");
                location.reload(true);
            },
            error: function(){  alert("사원 신규등록 error");  }
        });
	}	
	
	// 일반 계정 INSERT AJAX 끝
	// ======================================================
		
		
		
	// =======================================================
	// [박진석|24.11.16] 계정 DB DELETE AJAX
	function accountDeleteAjax() {
		let no = document.querySelector("#updMemNo").value;
		if (no == "") {
			alertNoSelected();
		} else {
			$.ajax({
	            url: "deleteAccount.do",
	            type: "POST",
	            data:  { 'memberNo': no },
	            success: function(data){
	                alert("사원 제거 성공.");
	                location.reload(true);
	            },
	            error: function(){  alert("사원 제거 실패");  }
	        });
		}
	}	
	// 계정 DELETE AJAX 끝
	// ======================================================		
		
		

	// =======================================================	
	// [박진석|24.11.15] 사업자등록번호 검증하는 코드
	function confirmBrn () {
		let brn = document.querySelector("#insertMngAccountFrm input[name^='brn']").value;
		let key = "b2j0lOuzAsVNBkrqXjLU6xECwJ87j8bnhK5PGRAyYn9wab1F0Zo15c5o1%2Fr4Q4TEqcmF9n0Qc0ftrr59Bax%2Big%3D%3D"
		
		if(!brn) {
			alert("사업자등록번호를 입력해주세요");
			return false;
		}
		
		var data = {
			b_no: [brn],
		}
		
		$.ajax({
			  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=" + key,
			  type: "POST",
			  data: JSON.stringify(data),
			  dataType: "JSON",
			  contentType: "application/json",
			  accept: "application/json",
			  success: function(result) {
			      let code = result.data[0].b_stt_cd
			      if(code == '01') {
			    	  alert("정상적인 번호입니다.");
			    	  isBrnConfirm = true;
			      } else if(code == '02' || code == '03') {
			    	  alert("휴업 또는 폐업된 번호입니다.");
			    	  isBrnConfirm = false;
			      } else {
			    	  alert("잘못된 번호입니다.");
			    	  isBrnConfirm = false;
			      }
			  },
			  error: function(result) {
			      console.log(result.responseText);
			  }
		});
	}
	// 검증코드 끝
	// =======================================================
	
	
		
	// =======================================================	
	// [박진석|241115] 날짜 변환 함수 (미사용)
	function formatKoreanDate(dateString) {
	    // 정규표현식을 이용해 연도, 월, 일을 추출
	    const datePattern = /([A-Za-z]{3})\s([A-Za-z]{3})\s(\d{1,2})\s\d{2}:\d{2}:\d{2}\s[A-Z]{3}\s(\d{4})/;
	    const match = dateString.match(datePattern);
	
	    if (match) {
	        // 월 문자열을 숫자로 변환하기 위해 월 이름 배열 선언
	        const months = {
	            Jan: 1, Feb: 2, Mar: 3, Apr: 4, May: 5, Jun: 6,
	            Jul: 7, Aug: 8, Sep: 9, Oct: 10, Nov: 11, Dec: 12
	        };
	
	        // 추출한 값 할당
	        const month = months[match[2]];  // 두 번째 그룹이 월
	        const day = parseInt(match[3], 10);  // 세 번째 그룹이 일
	        const year = parseInt(match[4], 10); // 네 번째 그룹이 연도
	
	        // 원하는 포맷으로 반환
	        return `${year}년 ${month}월 ${day}일`;
	    } else {
	        // 포맷이 잘못된 경우 에러 메시지 반환
	        return "올바르지 않은 날짜 형식입니다.";
	    }
	}
	// 날짜 변환함수 끝
	// =======================================================

</script>


