<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/loginPage_layout}"
	  layout:fragment="Content">

<script>
	// [박진석|24.11.13] 페이지 시작 시 필요없는 Leftbar과 아이콘 자동으로 숨김
	document.querySelector("body").classList.add("sidebar-shrink");
	document.querySelector(".menu-icon").style.display = 'none';

</script>

<body>
	<div class="container">	
		<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-7">
						<!-- <h1 id="title" class="text-center">Bread Flow 통합 SCM</h1>
						<br> -->
						<img src="/vendors/images/breadFlowLogo.png" alt="" />
					</div>
					<div class="col-md-6 col-lg-5">
						<div class="login-box bg-white box-shadow border-radius-10">
							<form>
								<div class="input-group custom">
									<input
										type="text"
										class="form-control form-control-lg"
										placeholder="BB00000"
										id="loginId"
									/>
									<div class="input-group-append custom">
										<span class="input-group-text">
											<i class="icon-copy dw dw-user1"></i>
										</span>
									</div>
								</div>
								<div class="input-group custom">
									<input
										type="password"
										class="form-control form-control-lg"
										placeholder="**********"
										id="loginPw"
										onkeyup="enterkey()"
									/>
									<div class="input-group-append custom">
										<span class="input-group-text">
											<i class="dw dw-padlock1"></i>
										</span>
									</div>
								</div>
								<div class="row pb-30" hidden="hidden">
									<div class="col-6">
										<div class="custom-control custom-checkbox">
											<input
												type="checkbox"
												class="custom-control-input"
												id="customCheck1"
											/>
											<label class="custom-control-label" for="customCheck1">
												ID 기억하기
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="input-group mb-0">
											<!-- <input class="btn btn-primary btn-lg btn-block" type="submit" value="로그인"> -->
											<a class="btn btn-primary btn-lg btn-block" onclick="loginChk()" style="color:white;">로그인</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div style="justify-items: center;">
		<h2>아래의 계정으로 테스트 할 수 있습니다.</h2>
		<br>
		<h4 style="text-align:left;">
			 BB00001 / 0000 본사<br>
			 BB00002 / 0000 가맹점<br>
			 BB00003 / 0000 물류창고<br>
			 BB00004 / 0000 공급업체<br>
			 BB00005 / 0000 제조공장
		</h4>
	</div>
</body>


<script>
	// [박진석|241203] 엔터키로도 로그인 되게끔 설정
	function enterkey() {
	  if (window.event.keyCode == 13) {
		  loginChk();
	  }
	}


	function loginChk() {
		let id = document.querySelector("#loginId").value
		let pw = document.querySelector("#loginPw").value
		
		var loginData = {"id" : id, "password": pw}
		
		$.ajax({
	        url: "loginCheck.do",
	        type: "POST",
	        data: loginData,
	        success: function(data){
	            if(data == 1) {
	            	location.href='/welcome';
	            } else {
	            	alert("로그인 실패: 아이디 비밀번호를 다시 확인해주세요.");
	            }
	        },
	        error: function(){  alert("로그인 실패");  }
	    });
	}
</script>