<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<body>
	<div class="container">
		<div
			class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
			<div class="container">
				<div class="row align-items-center">
						<h1 id="title" class="text-center">Bread Flow 통합 SCM</h1>
						<br> <img src="images/obbangLogo.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>