<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>입출고 등록</title>
	<!-- 스타일 시작 -->
	<style>
	.dropdown-menu {
	    max-height: 300px;
	    overflow: scroll;
	    overflow-x: hidden;
	}
	</style>
	<!-- 스타일 끝 -->
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black">입출고 등록</h2>
		</div>
		<form>
			<div>
				<!-- 세션값 저장 시작 -->
				<div class="pd-20 input-group mb-3">
					<input class="form-control" type="text" name="compName" id="compName" th:value="${session.companyName}" readonly>
					<input class="form-control" type="text" name="manager" id="manager" th:value="${session.memNo}" style="display:none;" readonly>
					<input class="form-control" type="text" name="companyInput" id="companyInput" th:value="${session.companyNo}" style="display:none;" readonly>
					<input class="form-control" type="text" name="companyDiv" id="companyDiv" th:value="${session.div}" style="display:none;" readonly>
					<input class="form-control" type="text" name="companyAddr" id="companyAddr" th:value="${session.companyAddress}" style="display:none;" readonly>
					<input class="form-control" type="text" name="companyTel" id="companyTel" th:value="${session.companyTel}" style="display:none;" readonly>
				</div>
				<!-- 세션값 저장 끝 -->
				
				<!-- 입고 출고 분류 시작 -->
				<div class="btn-group btn-group-toggle pd-20" data-toggle="buttons">
					<label class="btn btn-outline-dark active" id="instoreBtnLabel">
						<input type="radio" name="options" id="instoreBtn" value="입고" autocomplete="off" checked>입고
					</label>
					<label class="btn btn-outline-dark">
						<input type="radio" name="options" id="outstoreBtn" value="출고" autocomplete="off">출고
					</label>
				</div>
				<!-- 입고 출고 분류 끝 -->
				
				<!-- 검색 및 조건 필터 시작 -->
				<div class="pd-20 input-group mb-3">
					<input class="form-control" type="text" id="companyGet" placeholder="업체명을 검색하세요" readonly>
					<button type="button" class="btn btn-primary" id="coFilterBtn" data-bs-toggle="modal" data-bs-target="#coFilterModal">검색</button>
				</div>

				<div class="pd-20 input-group mb-3">
					<input class="form-control" type="text" id="inOutDate">
				</div>

				<div class="pd-20">
					<button type="button" class="btn btn-dark" id="rawmatBtn">원재료</button>
					<button type="button" class="btn btn-dark" id="finprdBtn">완제품</button>
					<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="itemBtn" data-bs-toggle="dropdown" aria-expanded="false">품목</button>
					<ul class="dropdown-menu" id="itemMenu">
						<li class="dropdown-item" id="prodAll">전체</li>
						<li th:each="item : ${items}">
                    		<a class="dropdown-item item">[[ ${item.productName} ]]</a>
                		</li>
					</ul>
				</div>
				
			</div>
		</form>
		<div class="pd-20 input-group mb-3">
			<input class="form-control" type="text" id="searchKeyword">
			<button type="button" class="btn btn-primary" id="searchBtn">검색</button>
		</div>
		<!-- 검색 및 조건 필터 끝 -->
				
		<!-- 테이블 시작 -->
		<div class="pd-20">
			<table class="table stripe hover multiple-select-row nowrap" id="inOutTble">
				<thead>
					<tr>
						<th>
							<div class="form-check">
  								<input class="form-check-input" type="checkbox" id="checkAll">
							</div>
						</th>
						<th class="table-plus">발주일자</th>
						<th class="datatable-nosort">재고 분류</th>
						<th class="datatable-nosort">품목</th>
						<th id="firstQuanTh">발주 수량</th>
						<th id="secondQuanTh">입고 수량</th>
						<th class="datatable-nosort">규격/단위</th>
					</tr>
				</thead>
				<tbody id="inOutTable">
					
				</tbody>
			</table>
			<!-- 테이블 끝 -->
			
			<!-- 페이징 시작 -->
			<div id="noData" style="display: none;">
				<p style="text-align: center; padding: 20px; color: gray;">목록의 끝입니다.</p>
			</div>
			<div class="pagination-container" style="padding: 20px; text-align: center;">
			    <button type="button" class="btn btn-outline-primary" id="prevPageBtn">이전</button>
			    <span id="currentPage">1 페이지</span>
			    <button type="button" class="btn btn-outline-primary" id="nextPageBtn">다음</button>
			</div>
			<!-- 페이징 끝 -->
			<button type="button" style="float: right;" class="btn btn-primary" id="submitBtn">등록</button>
		</div>
		<div class="pd-20">
		</div>
	</div>
	
	<script>
	
		// 조건
		let companyInput = null;
		let comp = null;
		let ing = null;
		let prd = null;
		let item = null;
		let year = null;
		let month = null;
		let div = null;
		
		// 페이징 조건
		let page = 1;
		let pageSize = 10;
		
		// 페이지 로딩 시 기능 실행
		$(document).ready(function() {
			
			// 로그인한 업체 이름 저장
			companyInput = $("#companyInput").val();
			
			// 로그인한 업체 분류 저장
			div = $("#companyDiv").val();
			
			// 기본 내역 출력 (입고)
	        changeFilter();
			
	        // 기본 날짜 출력 (입고/출고)
	        loadTodayDate();
	        
	        // 조건 초기화 (페이징 포함)
	        function clear() {
            	comp = null;
            	ing = null;
            	prd = null;
    			item = null;
    			year = null;
    			month = null;
    			$("#companyGet").val(null);
    			pageClear();
            }
	        
	        // 페이징 초기화
	        function pageClear() {
	        	page = 1;
    			pageSize = 10;
    			$("#currentPage").text(page + " 페이지");
	        }
	        
	        // 공급업체로 로그인 시 페이지 내용 변경
	        if (div == '공급업체') {
	        	$("#instoreBtnLabel").css("display", "none");
            	$("#outstoreBtn").prop("checked", true);
	        	$("#secondQuanTh").text("출고 수량");
            	changeFilter();
            }
	        
	        // 입고 내역 버튼 클릭
	        $("#instoreBtn").click(function() {
	        	$("#secondQuanTh").text("입고 수량");
	        	$("#itemBtn").text('품목');
	        	clear();
            	changeFilter();
	        });
	
	        // 출고 내역 버튼 클릭
	        $("#outstoreBtn").click(function() {
	        	$("#secondQuanTh").text("출고 수량");
	        	$("#itemBtn").text('품목');
	        	clear();
            	changeFilter();
	        });
	
	        // 원재료 버튼 클릭
	        $("#rawmatBtn").click(function() {
	        	prd = null;
            	ing = 'ing';
            	pageClear();
            	changeFilter();
	        });
	
	        // 완제품 버튼 클릭
	        $("#finprdBtn").click(function() {
	        	ing = null;
            	prd = 'prd';
            	pageClear();
            	changeFilter();
	        });
	        
	     	// 품목별 필터 클릭
            $(document).on('click', '.item', function() {
            	item = $(this).text().trim();
                $("#itemBtn").text(item);
                pageClear();
                changeFilter();
            });
	     	
         	// 품목별 필터 전체 클릭
            $('#prodAll').click(function() {
            	item = null;
            	$("#itemBtn").text("품목");
            	pageClear();
            	changeFilter();
            });
	        
	     	// 입력시 검색
            $("#searchKeyword").on('input', function() {
    	        let keyword = $(this).val().toLowerCase();
    	        searchData(keyword);
    	    });

            // 검색 버튼 클릭
            $("#searchBtn").click(function() {
                let keyword = $("#searchKeyword").val().toLowerCase();
                searchData(keyword);
            });
            
         	// 업체 검색 모달에서 선택
            $("#selectCompanyBtn").click(function() {
                let selectedCompanyName = $("#companyTableBody tr.selected").find("td:nth-child(3)").text();
                console.log(selectedCompanyName);
                $("#companyGet").val(selectedCompanyName);
                $('#coFilterModal').modal('hide');
                comp = $("#companyTableBody tr.selected").find("td:nth-child(5)").text();
                changeFilter();
            });

	     	// 저장 버튼 클릭 시 처리
	        $("#submitBtn").click(function() {
	        	let checkNull = false;
	        	let checkQuant = false;
	            // 선택된 행을 추출
	            let selectedRows = [];
	            $("#inOutTable tr.selected").each(function() {
	            	if ($("input[name='options']:checked").val() === '입고') {
	            		let row = $(this);
		                let data = {
		                    instoreDate: $("#inOutDate").val(),
		                    itemDiv: row.find("td:nth-child(3)").text(),
		                    itemName: row.find("td:nth-child(4)").text(),
		                    quantity: Number(row.find("td:nth-child(5)").text()),
		                    instoreQuantity: Number(row.find("td:nth-child(6) input").val()),
		                    companyNo: $("#companyInput").val(),
		                    instoreManager: $("#manager").val(),
		                    orderingDetailCode: row.find("td:nth-child(8)").text(),
		                    instoreDiv: row.find("td:nth-child(9)").text(),
		                    deadline: row.find("td:nth-child(10)").text(),
		                    itemCode: row.find("td:nth-child(11)").text(),
		                    outstoreCompany: row.find("td:nth-child(14)").text()
		                };
		                if (data.instoreQuantity == 0) {
	            			checkNull = true;
	            		}
		                if (data.quantity < data.instoreQuantity) {
		                	checkQuant = true;
		                }
		                selectedRows.push(data);
	                } else {
	                	let row = $(this);
		                let data = {
		                	outstoreDate: $("#inOutDate").val(),
		                	itemName: row.find("td:nth-child(3)").text(),
		                	quantity: Number(row.find("td:nth-child(5)").text()),
		                	outstoreQuantity: Number(row.find("td:nth-child(6) input").val()),
		                	outstoreManager: $("#manager").val(),
		                    instoreNo: row.find("td:nth-child(8)").text(),
		                	ordersDetailNo: row.find("td:nth-child(9)").text(),
		                    orderingDetailCode: row.find("td:nth-child(10)").text(),
		                    instoreCompany: row.find("td:nth-child(13)").text(),
		                    div: div
		                };
		                if (data.outstoreQuantity == 0) {
	            			checkNull = true;
	            		}
		                if (data.quantity < data.outstoreQuantity) {
		                	checkQuant = true;
		                }
		                selectedRows.push(data);
	                }
	            });
	            
	            console.log(selectedRows);
	            if (selectedRows.length == 0 || selectedRows.length == '') {
	            	alert("선택된 항목이 없습니다.");
	            } else if (checkNull) {
	            	alert("수량이 입력되지 않았습니다.");
	            } else if (checkQuant) {
	            	alert("올바른 수량을 입력해주세요.");
	            } else {
	            	
		            // AJAX로 데이터 전송
		            let url = $("input[name='options']:checked").val() === '입고' ? '/inOut/insertIn' : '/inOut/insertOut';
		            $.ajax({
		                url: url,
		                method: 'POST',
		                data: JSON.stringify(selectedRows),
		                contentType: 'application/json',
		                success: function(response) {
		                	console.log(selectedRows);
		                	alert("등록되었습니다.");
		                	changeFilter();
		                	$("#checkAll").prop("checked", false);
		                },
		                error: function() {
		                    alert("등록하는 데 실패했습니다.");
		                }
		            });
		            
	            }
	            
	        });
			
	    });
		
		// 페이징 이전 버튼 클릭
		$("#prevPageBtn").click(function() {
		    if (page > 1) {
		        page--;
		        changeFilter();
		        $("#currentPage").text(page + " 페이지");
		    }
		});
		
		// 페이징 다음 버튼 클릭
		$("#nextPageBtn").click(function() {
		    page++;
		    changeFilter();
		    $("#currentPage").text(page + " 페이지");
		});
		
		// 필터값 전송
        function changeFilter() {
        	let url = $("input[name='options']:checked").val() === '입고' ? '/inOut/ordersInsert' : '/inOut/instoresInsert';
        	let type = $("input[name='options']:checked").val() === '입고' ? 'order' : 'instore';
        	$.ajax({
            	url : url,
            	method : 'GET',
            	data : {companyInput,
            			comp,
            			item,
            			year,
            			month,
            			prd,
            			ing,
            			page,
                        pageSize},
            	success : function(data) {
            		updateTable(data.list, type);
            		let lastPage = Math.ceil(data.count / pageSize);
            		if (page == lastPage) {
            			$("#nextPageBtn").hide();
            		} else {
            			$("#nextPageBtn").show();
            		}
            		if (page > 1) {
            			$("#prevPageBtn").show();
            		} else {
            			$("#prevPageBtn").hide();
            		}
            		if (data.count == 0 || data.count == null) {
            			$("#nextPageBtn").hide();
            			$("#prevPageBtn").hide();
            			$("#currentPage").hide();
            			$("#noData").css("display", "block");
            		} else {
            			$("#currentPage").show();
            			$("#noData").css("display", "none");
            		}
            	},
            	error : function() {
	                alert("내역을 불러오는 데 실패했습니다.");
	            }
            });
        }
	    
	 	// 당일 날짜 가져오기
	    function loadTodayDate() {
	    	let objectDate = new Date();
	    	let day = objectDate.getDate();
	    	let month = objectDate.getMonth() + 1;
	    	let year = objectDate.getFullYear();
	    	let todayDate = year.toString().slice(-2) + "/" + (("00" + month.toString()).slice(-2)) + "/" + (("00" + day.toString()).slice(-2));
	 		$("#inOutDate").val(todayDate);
	 	}
	 	
	    // 목록 갱신
	    function updateTable(data, type) {
	        let tbody = $("#inOutTable");
	        tbody.empty();
	        data.forEach(function(item) {
	            let row = "<tr>";
	            	row += `<td>
								<div class="form-check">
  									<input class="form-check-input check" type="checkbox">
								</div>
							</td>`
	            if (type === 'instore') {
	                row += "<td class='table-plus'>" + item.orderingDate + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td class='prd'>" + "g1" + "</td>";
	                	row += "<td class='prd'>" + item.itemName + "</td>";
	                } else {
	                	row += "<td class='ing'>" + "g2" + "</td>";
	                	row += "<td class='ing'>" + item.itemName + "</td>";
	                }
	                row += "<td>" + item.quantity + "</td>";
	                row += "<td>" + "<input class='form-control' type='text' placeholder='출고 수량을 입력하세요.'></input>" + "</td>";
	                row += "<td>" + item.standard + "/" + item.unit + "</td>";
	                row += "<td style='display:none;'>" + item.instoreNo + "</td>";
	                row += "<td style='display:none;'>" + item.ordersDetailNo + "</td>";
	                row += "<td style='display:none;'>" + item.orderingDetailCode + "</td>";
	                row += "<td style='display:none;'>" + item.purchasePrice + "</td>";
	                row += "<td style='display:none;'>" + item.price + "</td>";
	                row += "<td style='display:none;'>" + item.instoreCompany + "</td>";
	            } else if (type === 'order') {
	                row += "<td class='table-plus'>" + item.orderingDate + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td class='prd'>" + "g1" + "</td>";
	                	row += "<td class='prd'>" + item.itemName + "</td>";
	                } else {
	                	row += "<td class='ing'>" + "g2" + "</td>";
	                	row += "<td class='ing'>" + item.itemName + "</td>";
	                }
	                row += "<td>" + item.quantity + "</td>";
	                row += "<td>" + "<input class='form-control' type='text' placeholder='입고 수량을 입력하세요.'></input>" + "</td>";
	                row += "<td>" + item.standard + "/" + item.unit + "</td>";
	                row += "<td style='display:none;'>" + item.orderingDetailCode + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td style='display:none;'>" + "f2" + "</td>";
	                } else {
	                	row += "<td style='display:none;'>" + "f1" + "</td>";
	                }
	                row += "<td style='display:none;'>" + item.expirationDeadline + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td style='display:none;'>" + item.orderingProduct + "</td>";
	                } else {
	                	row += "<td style='display:none;'>" + item.orderingIngredient + "</td>";
	                }
	                row += "<td style='display:none;'>" + item.purchasePrice + "</td>";
	                row += "<td style='display:none;'>" + item.price + "</td>";
	                row += "<td style='display:none;'>" + item.outstoreCompany + "</td>";
	            }
	            row += "</tr>";
	            tbody.append(row);
	        });
	    }
	    
	 	// 검색
        function searchData(keyword) {
            $("#inOutTable tr").each(function() {
                let rowText = $(this).text().toLowerCase();
                if (rowText.includes(keyword)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
	 	
     	// 테이블에서 행 클릭 시 선택 처리
        $("#inOutTable").on('click', '.form-check-input', function() {
            let row = $(this).closest('tr');
            
            if ($(this).prop('checked')) {
                row.addClass('selected');
            } else {
                row.removeClass('selected');
            }
        });
     	
     	// 체크박스 일괄 선택 처리
     	$("#checkAll").change(function() {
     	    let isChecked = $(this).prop('checked');
     	    
     	    $("#inOutTable tr").each(function() {
     	        let row = $(this);
     	        let checkbox = row.find(".form-check-input");
     	        
     	        checkbox.prop('checked', isChecked);
     	        
     	        if (isChecked) {
     	            row.addClass('selected');
     	        } else {
     	            row.removeClass('selected');
     	        }
     	    });
     	});

	</script>
</body>
</html>