<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>입출고 내역</title>
	<!-- 모달창 스타일 시작 -->
	<style>
		@media print {
		    @page {
		        size: A4;
		        margin: 0;
		    }
		
		    #print {
		        width: 100%;
		        height: 99%;
		        page-break-before: always;
		        margin: 0;
		        padding: 10mm;
		    }
		
		    .modal-content {
		        width: 100%;
		        padding: 0;
		        box-sizing: border-box;
		        overflow: hidden;
		    }
		
		    .modal-header, .modal-footer {
		        display: none;
		    }
		
		    table {
		        width: 100%;
		        border-collapse: collapse;
		        margin-bottom: 10px;
		    }
		
		    table th, table td {
		        padding: 5px;
		        text-align: left;
		        border: 1px solid #000;
		    }
		
		    #container {
		        width: 100%;
		        box-sizing: border-box;
		    }
		
		    .amount, .stamp {
		        font-size: 12pt;
		    }
		    
		    body {
		    	height: 99%;
		        margin: 0;
		        padding: 0;
		        font-size: 12pt;
		        transform: scale(1.8);
		    }
		
		    .companyTable td, .companyTable th {
		        font-size: 10pt;
		        padding: 4px;
		    }
		
		    #closeModalX, #closeModal {
		        display: none;
		    }
		
		    .modal-body {
		        padding: 0;
		    }
		}
		
        .modal-dialog #container {
            width: 100%;
            border: 1px solid #000;
            padding: 20px;
        }
        .modal-dialog #title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .modal-dialog #info {
            display: flex;
            justify-content: space-between;
        }
        .box {
            width: 48%;
            border: 1px solid #000;
            padding: 10px;
        }
        .modal-dialog #table-container {
            margin-top: 20px;
        }
        .modal-dialog #insertedTable, .modal-dialog #companyTable {
            width: 100%;
            border-collapse: collapse;
        }
        .modal-dialog #companyTable tr, .modal-dialog #companyTable th {
            border: 1px solid #000;
            text-align: center;
            padding: 8px;
        }
        .modal-dialog .amount {
            text-align: right;
            font-weight: bold;
            font-size: 18px;
            margin-top: 10px;
        }
        .modal-dialog .stamp {
            margin-top: 20px;
            text-align: center;
        }
        #body td{
        	border: 1px solid #000;
            text-align: center;
            padding: 8px;
        }
        .dropdown-menu {
		    max-height: 300px;
		    overflow: scroll;
		    overflow-x: hidden;
		}
    </style>
    <!-- 모달창 스타일 끝 -->
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black" style="float: left;">입출고 내역</h2>
			<button type="button" style="float: right;" class="btn btn-primary" id="insertBtn" onclick='location.href = "/inOutInsert"'>입출고 등록하기</button>
		</div>
		<div class="pd-20"></div>
		<!-- 입고 출고 분류 시작 -->
		<div>
			<input class="form-control" type="text" name="companyInput" id="companyInput" th:value="${session.companyNo}" style=display:none; readonly>
			<input class="form-control" type="text" name="companyDiv" id="companyDiv" th:value="${session.div}" style="display:none;" readonly>
			<div class="btn-group btn-group-toggle pd-20" data-toggle="buttons">
				<label class="btn btn-outline-dark active">
					<input type="radio" name="options" id="instoreBtn" value="입고" autocomplete="off" checked>입고
				</label>
				<label class="btn btn-outline-dark">
					<input type="radio" name="options" id="outstoreBtn" value="출고" autocomplete="off">출고
				</label>
			</div>
			<div class="pd-20 input-group mb-3">
				<input class="form-control" type="text" id="companyName" placeholder="업체명을 검색하세요" readonly>
				<button type="button" class="btn btn-primary" id="coFilterBtn" data-bs-toggle="modal" data-bs-target="#coFilterModal">검색</button>
			</div>
		</div>
		<!-- 입고 출고 분류 끝 -->
		
		<!-- 조건 필터 시작 -->
		<div class="pd-20">
			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="matprdBtn" data-bs-toggle="dropdown" aria-expanded="false">구분</button>
			<ul class="dropdown-menu" id="matprdBtn">
				<li class="dropdown-item" id="matprdAll">전체</li>
				<li class="dropdown-item" id="rawmatBtn">원재료</li>
				<li class="dropdown-item" id="finprdBtn">완제품</li>
			</ul>
			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="itemBtn" data-bs-toggle="dropdown" aria-expanded="false">품목</button>
			<ul class="dropdown-menu" id="itemMenu">
				<li class="dropdown-item" id="prodAll">전체</li>
				<li th:each="item : ${items}">
                    <a class="dropdown-item item">[[ ${item.productName} ]]</a>
                </li>
			</ul>
  			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="yearlyBtn" data-bs-toggle="dropdown" aria-expanded="false">연도</button>
			<ul class="dropdown-menu" id="yearlyMenu">
				<li class="dropdown-item" id="yearAll">전체</li>
				<li th:each="num : ${#numbers.sequence(localDateTime-10, localDateTime)}">
                    <a class="dropdown-item year">[[ ${num} ]]</a>
                </li>
			</ul>
  			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="monthlyBtn" data-bs-toggle="dropdown" aria-expanded="false">월</button>
			<ul class="dropdown-menu" id="monthlyMenu">
				<li class="dropdown-item" id="monthAll">전체</li>
 				<li th:each="num : ${#numbers.sequence(1,12)}"><a class="dropdown-item month">[[ ${num} ]]</a></li>
            </ul>
		</div>
		<div class="pd-20 input-group mb-3">
			<input class="form-control" type="text" id="searchKeyword">
			<button type="button" class="btn btn-primary" id="searchBtn">검색</button>
		</div>
		<div class="pd-20 input-group">
			<input class="form-control" type="date" id="startDate">
			<input class="form-control" type="date" id="endDate">
			<button type="button" class="btn btn-primary input-group-button" id="dateFilterBtn">검색</button>
		</div>
		<!-- 조건 필터 끝 -->
		
		<!-- 테이블 시작 -->
		<div class="pd-20">
			<table class="table stripe hover multiple-select-row nowrap" id="inOutTble">
				<thead>
					<tr>
						<th class="table-plus">거래일자</th>
						<th class="datatable-nosort">구분</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">규격/단위</th>
						<th class="datatable-nosort">출고처</th>
						<th class="datatable-nosort">입고처</th>
						<th style="width: 240px;" class="datatable-nosort">상세</th>
					</tr>
				</thead>
				<tbody id="inOutTable">

				</tbody>
			</table>
			<div id="noData" style="display: none;">
				<p style="text-align: center; padding: 20px; color: gray;">목록의 끝입니다.</p>
			</div>
			<div class="pagination-container" style="padding: 20px; text-align: center;">
			    <button type="button" class="btn btn-outline-primary" id="prevPageBtn">◀</button>
			    <span style="margin: 20px;" id="currentPage">1 페이지</span>
			    <button type="button" class="btn btn-outline-primary" id="nextPageBtn">▶</button>
			</div>
		</div>
		<!-- 테이블 끝 -->
	</div>
	
	<!-- 거래 명세서 발행 모달창 시작 -->
	<div id="print">
		<div class="modal fade" id="getListModal" tabindex="-1" role="dialog" aria-labelledby="getListModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg modal-dialog-centered">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title" id="getListModalLabel">거래 명세서</h4>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModalX">×</button>
		            </div>
		            <div id="body" class="modal-body">
				 		<div id="container">
						        <div id="title">거래 명세서</div>
						        <div id="info">
						            <div class="box">
						            	<table class="companyTable">
						            		<caption>입고처</caption>
						                    <tr class="only">
						                        <td>사업자등록번호</td>
						                        <td id="inBrn"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>상호</td>
						                        <td id="inCompanyName"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>주소</td>
						                        <td id="inCompanyAddress"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>TEL</td>
						                        <td id="inCompanyTel"></td>
						                    </tr>
						                </table>
						            </div>
						            <div class="box">
						                <table class="companyTable">
						                	<caption>출고처</caption>
						                    <tr class="only">
						                        <td>사업자등록번호</td>
						                        <td id="outBrn"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>상호</td>
						                        <td id="outCompanyName"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>주소</td>
						                        <td id="outCompanyAddress"></td>
						                    </tr>
						                    <tr class="only">
						                        <td>TEL</td>
						                        <td id="outCompanyTel"></td>
						                    </tr>
						                </table>
						            </div>
						        </div>
						        <div class="amount">금액:<span id="amount"></span>원</div>
						        <div id="table-container">
						            <table id="insertedTable">
						                <thead>
						                    <tr class="only">
						                        <th>일자</th>
						                        <th>품목</th>
						                        <th>수량</th>
						                        <th>단가</th>
						                        <th>공급가액</th>
						                        <th>부가세</th>
						                    </tr>
						                </thead>
						                <tbody id="insertedTble">
						                    
						                </tbody>
						            </table>
						        </div>
						        <div class="amount">
						            <p>수량:<span id="quant"></span>개</p>
						            <p>공급가액:<span id="selling"></span>원</p>
						            <p>VAT:<span id="toten"></span>원</p>
						            <p>합계:<span id="addup"></span>원</p>
						        </div>
						        <div class="stamp">인수: ___________ 인: ___________</div>
						</div>  
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="printPage()">출력</button>
		                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">닫기</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<!-- 거래 명세서 발행 모달창 끝 -->
	
    <script>
    
	 	// 조건
	 	let companyInput = null; // 업체 번호
		let comp = null;
		let ing = null;
		let prd = null;
		let item = null;
		let year = null;
		let month = null;
		let startDt = null;
		let endDt = null;
		let div = null;
		let groupNo = null;
		
		// 페이징 조건
		let page = 1;
		let pageSize = 10;
   		
		// 페이지 로딩 시 기능 실행
        $(document).ready(function() {
        	
        	// 로그인한 업체 이름 저장
        	companyInput = $("#companyInput").val();
        	
        	// 로그인한 업체 분류 저장
        	div = $("#companyDiv").val();

            // 기본 내역 출력 (입고)
            changeFilter();
            
            // 조건 초기화 (페이징 포함)
            function clear() {
            	comp = null;
            	ing = null;
            	prd = null;
    			item = null;
    			year = null;
    			month = null;
    			startDt = null;
    			endDt = null;
    			$("#yearlyBtn").text('연도');
            	$("#monthlyBtn").text('월');
            	$("#itemBtn").text('품목');
            	$("#matprdBtn").text("구분");
            	$("#companyName").val(null);
    			pageClear();
            }
            
            // 페이징 초기화
            function pageClear() {
            	page = 1;
    			pageSize = 10;
    			$("#currentPage").text(page + " 페이지");
            }
            
         	// 본사로 로그인 시 페이지 내용 변경
	        if (div == '본사') {
            	$("#insertBtn").hide();
            }
            
            // 입고 내역 버튼 클릭
            $("#instoreBtn").click(function() {
            	clear();
            	changeFilter();
            });

            // 출고 내역 버튼 클릭
            $("#outstoreBtn").click(function() {
            	clear();
                changeFilter();
            });

            // 원재료 버튼 클릭
            $("#rawmatBtn").click(function() {
            	prd = null;
            	ing = 'ing';
            	$("#matprdBtn").text("원재료");
            	pageClear();
            	changeFilter();
            });

            // 완제품 버튼 클릭
            $("#finprdBtn").click(function() {
            	ing = null;
            	prd = 'prd';
            	$("#matprdBtn").text("완제품");
            	pageClear();
            	changeFilter();
            });
            
         	// 구분별 필터 전체 클릭
            $('#matprdAll').click(function() {
            	ing = null;
            	prd = null;
            	$("#matprdBtn").text("구분");
            	pageClear();
            	changeFilter();
            });
            
            // 연도별 필터 클릭
            $(document).on('click', '.year', function() {
                year = $(this).text().trim();
                $("#yearlyBtn").text(year);
                changeFilter();
            });
            
         	// 연도별 필터 전체 클릭
            $('#yearAll').click(function() {
            	year = null;
            	$("#yearlyBtn").text("연도");
            	pageClear();
            	changeFilter();
            });

            // 월별 필터 클릭
            $(document).on('click', '.month', function() {
                month = $(this).text().trim();
                $("#monthlyBtn").text(month);
                changeFilter();
            });
            
         	// 월별 필터 전체 클릭
            $('#monthAll').click(function() {
            	month = null;
            	$("#monthlyBtn").text("월");
            	pageClear();
            	changeFilter();
            });
            
            // 품목별 필터 클릭
            $(document).on('click', '.item', function() {
                item = $(this).text().trim();
                $("#itemBtn").text(item);
                pageClear();
                changeFilter();
            });
            
            // 품목별 필터 전체 클릭
            $('#prodAll').click(function() {
            	item = null;
            	$("#itemBtn").text("품목");
            	pageClear();
            	changeFilter();
            });
            
            // 입력시 검색
            $("#searchKeyword").on('input', function() {
            	$("#searchBtn").click();
    	    });

            // 검색 버튼 클릭
            $("#searchBtn").click(function() {
                let keyword = $("#searchKeyword").val().toLowerCase();
                searchData(keyword);
            });

            // 날짜 필터 버튼 클릭
            $("#dateFilterBtn").click(function() {
            	startDt = $("#startDate").val();
                endDt = $("#endDate").val();
                pageClear();
                changeFilter();
            });
            
         	// 업체 검색 모달에서 선택
            $("#selectCompanyBtn").click(function() {
                let selectedCompanyName = $("#companyTableBody tr.selected").find("td:nth-child(5)").text();
                $("#companyName").val(selectedCompanyName);
                $('#coFilterModal').modal('hide');
                comp = selectedCompanyName;
                changeFilter();
            });

        });
        
		// 페이징 이전 버튼 클릭
        $("#prevPageBtn").click(function() {
		    if (page > 1) {
		        page--;
		        changeFilter();
		        $("#currentPage").text(page + " 페이지");
		    }
		});
		
		// 페이징 다음 버튼 클릭
		$("#nextPageBtn").click(function() {
		    page++;
		    changeFilter();
		    $("#currentPage").text(page + " 페이지");
		});
        
        // 필터값 전송
        function changeFilter() {
        	const url = $("input[name='options']:checked").val() === '입고' ? '/inOut/instores' : '/inOut/outstores';
        	const type = $("input[name='options']:checked").val() === '입고' ? 'instore' : 'outstore';
        	$.ajax({
            	url : url,
            	method : 'GET',
            	data : {companyInput,
            			comp,
            			item,
            			year,
            			month,
            			prd,
            			ing,
            			startDt,
            			endDt,
            			div,
            			page,
                        pageSize},
            	success : function(data) {
            		updateTable(data.list, type);
            		let lastPage = Math.ceil(data.count / pageSize);
            		// 마지막 버튼 처리
            		if (page == lastPage) {
            			$("#nextPageBtn").hide();
            		} else {
            			$("#nextPageBtn").show();
            		}
            		// 첫번째 버튼 처리
            		if (page > 1) {
            			$("#prevPageBtn").show();
            		} else {
            			$("#prevPageBtn").hide();
            		}
            		if (data.count == 0 || data.count == null) {
            			$("#nextPageBtn").hide();
            			$("#prevPageBtn").hide();
            			$("#currentPage").hide();
            			$("#noData").css("display", "block");
            		} else {
            			$("#currentPage").show();
            			$("#noData").css("display", "none");
            		}
            		console.log(data);
            	},
            	error : function() {
	                alert("내역을 불러오는 데 실패했습니다.");
	            }
            });
        }

        // 목록 갱신
        function updateTable(data, type) {
            let tbody = $("#inOutTable");
            tbody.empty();
            data.forEach(function(item) {
                let row = "<tr>";
                if (type === 'instore') {
                    row += "<td class='table-plus date'>" + item.instoreDate + "</td>";
                    row += "<td>" + item.itemName + "</td>";
                    row += "<td>" + item.instoreQuantity + "</td>";
                    row += "<td>" + item.standard + "/" + item.unit + "</td>";
                    row += "<td>" + item.outstoreCompany + "</td>";
                    row += "<td>" + item.instoreCompany + "</td>";
                	row += "<td style='display: none;'>" + item.instoreGroupNo + "</td>";
                    row += "<td>" + `<button type="button" class="btn btn-outline-primary getListBtn" data-bs-toggle="modal" data-bs-target="#getListModal">거래 명세서 발행</button>` + "</td>";
                } else if (type === 'outstore') {
                    row += "<td class='table-plus date'>" + item.outstoreDate + "</td>";
                    row += "<td>" + item.itemName + "</td>";
                    row += "<td>" + item.outstoreQuantity + "</td>";
                    row += "<td>" + item.standard + "/" + item.unit + "</td>";
                    row += "<td>" + item.outstoreCompany + "</td>";
                    row += "<td>" + item.instoreCompany + "</td>";
                    row += "<td style='display: none;'>" + item.outstoreGroupNo + "</td>";
                    row += "<td>" + `<button type="button" class="btn btn-outline-primary getListBtn" data-bs-toggle="modal" data-bs-target="#getListModal">거래 명세서 발행</button>` + "</td>";
                }
                row += "</tr>";
                tbody.append(row);
            });
            
         	// 모달 창 버튼 클릭 시 처리
	     	$(".getListBtn").click(function() {
	     		groupNo = $(this).closest("tr").find("td:nth-child(7)").text();
	     		console.log(groupNo);
	     		getModal(groupNo);
	     	});
        }
        
     	// 모달창 필터값 전송
        function getModal(groupNo) {
        	const url = $("input[name='options']:checked").val() === '입고' ? '/inOut/instoreModal' : '/inOut/outstoreModal';
        	$.ajax({
            	url : url,
            	method : 'GET',
            	data : {groupNo},
            	success : function(data) {
            		updateModal(data);
            		console.log(data);
            	},
            	error : function() {
	                alert("거래 명세서를 불러오는 데 실패했습니다.");
	            }
            });
        }
        
     	// 모달 창 갱신
	 	function updateModal(data) {
     		
	 		let tbody = $("#insertedTble");
	 		tbody.empty();
	    	
	    	let amount = null;
	    	let quant = null;
	    	let selling = null;
	    	let toten = null;
	    	let addup = null;
	    	
	    	console.log(data);
	    	
	 		data.forEach(function(item) {
	 			
	 			let row = "<tr>";
	 				row += "<td style='display: none;'>" + item.instoreCompany + "</td>";
	 				row += "<td style='display: none;'>" + item.outstoreCompany + "</td>";
	            	row += "<td>" + item.date + "</td>";
	            	row += "<td>" + item.itemName + "</td>";
	            	row += "<td>" + item.quantity.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</td>";
	            	row += "<td>" + item.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원</td>";
					row += "<td>" + item.purchasePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원</td>";
					row += "<td>" + (Number(item.purchasePrice) / 10).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원</td>";
	            	row += "</tr>";
	            	
	            amount += Number(item.price) + (Number(item.purchasePrice) / 10);
                quant += Number(item.quantity);
	            selling += Number(item.purchasePrice);
	            toten += (Number(item.purchasePrice) / 10);
	            addup += Number(item.price) + (Number(item.purchasePrice) / 10);
	            
		 		tbody.append(row);
	 		});
	 		
	 		$("#amount").html(amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
	 		$("#quant").html(quant.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
	 		$("#selling").html(selling.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
	 		$("#toten").html(toten.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
	 		$("#addup").html(addup.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
	 		
	 		let instoreCompany = $("#insertedTble").find("tr:nth-child(1)").find("td:nth-child(1)").text();
	 		let outstoreCompany = $("#insertedTble").find("tr:nth-child(1)").find("td:nth-child(2)").text();
	 		
	 		$.ajax({
            	url : '/inOut/instoreComp',
            	method : 'GET',
            	data : {companyNo: instoreCompany},
            	success : function(data) {
            		$("#inBrn").text(data.brn);
            		$("#inCompanyName").text(data.companyName);
            		$("#inCompanyAddress").text(data.companyAddress);
            		$("#inCompanyTel").text(data.companyTel);
            		console.log(data);
            	},
            	error : function() {
	                alert("입고처 정보를 불러오는 데 실패했습니다.");
	            }
            });
	 		
	 		$.ajax({
            	url : '/inOut/outstoreComp',
            	method : 'GET',
            	data : {companyNo: outstoreCompany},
            	success : function(data) {
            		$("#outBrn").text(data.brn);
            		$("#outCompanyName").text(data.companyName);
            		$("#outCompanyAddress").text(data.companyAddress);
            		$("#outCompanyTel").text(data.companyTel);
            		console.log(data);
            	},
            	error : function() {
	                alert("출고처 정보를 불러오는 데 실패했습니다.");
	            }
            });
	 		
	 	}
     	
     	// 모달창 숨기기 처리
     	$("#closeModal").click(function() {
     		$("#getListModal").modal('hide');
	    });
     	
     	$("#closeModalX").click(function() {
     		$("#getListModal").modal('hide');
     	});

        // 검색
        function searchData(keyword) {
            $("#inOutTable tr").each(function() {
                let rowText = $(this).text().toLowerCase();
                if (rowText.includes(keyword)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
        
        // 거래 명세서 출력
        function printPage(){
        	var initBody;
        	window.onbeforeprint = function(){
        		initBody = document.body.innerHTML;
        		document.body.innerHTML =  document.getElementById('print').innerHTML;
        	};
        	window.onafterprint = function(){
        		document.body.innerHTML = initBody;
        	};
        	window.print();
        	location.reload(true);
        	return false;
        }
        	
    </script>
</body>
</html>