<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<script>
				var row = "<tr>";
	            if (type === 'instore') {
	            	row += "<td style='display:none;'>" + item.instoreNo + "</td>";
	                row += "<td class='table-plus'>" + item.instoreDate + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td class='prd'>" + item.orderingProduct + "</td>";
	                	row += "<td class='prd'>" + item.productName + "</td>";
	                } else {
	                	row += "<td class='ing'>" + item.orderingIngredient + "</td>";
	                	row += "<td class='ing'>" + item.ingredientName + "</td>";
	                }
	                row += "<td>" + item.quantity + "</td>";
	                row += "<td>" + "<input class='form-control' type='text' placeholder='출고 수량을 입력하세요.'></input>" + "</td>";
	                row += "<td>" + item.standard + "/" + item.unit + "</td>";
	                row += "<td style='display:none;'>" + "재고 입고" + "</td>";
	                row += "<td style='display:none;'>" + item.ordersDetailNo + "</td>";
	            } else if (type === 'order') {
	                row += "<td class='table-plus'>" + item.orderingDate + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td class='prd'>" + item.orderingProduct + "</td>";
	                	row += "<td class='prd'>" + item.productName + "</td>";
	                } else {
	                	row += "<td class='ing'>" + item.orderingIngredient + "</td>";
	                	row += "<td class='ing'>" + item.ingredientName + "</td>";
	                }
	                row += "<td>" + item.quantity + "</td>";
	                row += "<td>" + "<input class='form-control' type='text' placeholder='입고 수량을 입력하세요.'></input>" + "</td>";
	                row += "<td>" + item.standard + "/" + item.unit + "</td>";
	                row += "<td style='display:none;'>" + item.orderingDetailCode + "</td>";
	                row += "<td style='display:none;'>" + "재고 입고" + "</td>";
	                if (item.orderingProduct != null) {
	                	row += "<td style='display:none;'>" + item.prdExpirationDeadline + "</td>";
	                } else {
	                	row += "<td style='display:none;'>" + item.ingExpirationDeadline + "</td>";
	                }
	            }
</script>
</body>
</html>