<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.mtrqplan.mapper.MtrqplanMapper">

<!-- 모달창에 쓰일 재료(ingredient) 전체 조회 -->
<select id="selectIngrdntList" parameterType="MtrqplanVO">
	SELECT  major
	        , sub
	        , ingredient_code
	        , ingredient_name
	        , FIND_CD(unit) AS unit_name
	        , unit
	FROM 	ingredient
	ORDER BY ingredient_code
</select>


<select id="selectMtrqplan" parameterType="String">
	SELECT  m.matrequired_plan_no
	        , m.supply_company
	        , ( SELECT  company_name
	            FROM    company
	            WHERE   company_no = m.supply_company) AS supply_company_nm
	        , m.start_date
	        , m.delivery_location
	        , ( SELECT  company_name
	            FROM    company
	            WHERE   company_no = m.delivery_location) AS delivery_location_nm
	        , m.last_date
	        , MIN(d.progress_situation) AS progress_situation
	FROM matrequired_plan m JOIN matrequired_plan_detail d
	            ON m.matrequired_plan_no = d.matrequired_plan_no
	WHERE m.production_plan_no = #{productionPlanNo}        
	GROUP BY m.matrequired_plan_no
	        , m.supply_company
	        , m.start_date
	        , m.delivery_location
	        , m.last_date
</select>



<select id="selectMtrqplanDetails" parameterType="String">
	SELECT  product_code
	        , ( SELECT  ingredient_name
	            FROM    ingredient
	            WHERE   ingredient_code = product_code) AS product_name
	        , plan_quantity
	        , FIND_CD(unit) AS unit
	        , other
	FROM    matrequired_plan_detail
	WHERE   matrequired_plan_no = #{matrequiredPlanNo}
</select>


<insert id="insertMtrqplan" parameterType="MtrqplanVO">
	<selectKey resultType="string" keyProperty="matrequiredPlanNo" order="BEFORE">
		SELECT 'JP' || PLANSEQ('MATREQUIRED_PLAN','MATREQUIRED_PLAN_NO') FROM dual
	</selectKey>
	INSERT INTO matrequired_plan
	(
	    matrequired_plan_no
	    , production_plan_no
	    , start_date
	    , last_date
	    , delivery_location
	    , supply_company
	    , writer
	) VALUES (
	    #{matrequiredPlanNo}
	    , #{productionPlanNo}
	    , #{startDate}
	    , #{lastDate}
	    , #{deliveryLocation}
	    , #{supplyCompany}
	    , #{writer}
	)
</insert>


<insert id="insertMtrqplanDetail" parameterType="MtrqplanVO">
	<selectKey resultType="string" keyProperty="materialDetailNo" order="BEFORE">
		SELECT 'JP' || PLANSEQ('matrequired_plan_DETAIL', 'material_detail_no') FROM dual
	</selectKey>
	INSERT INTO matrequired_plan_detail
	(
	    product_code
	    , plan_quantity
	    , unit
	    , other
	    , progress_situation
	    , material_detail_no
	    , matrequired_plan_no
	) VALUES (
	    #{productCode}
	    , #{planQuantity}
	    , #{unit}
	    , #{other}
	    , 'c1'
	    , #{materialDetailNo}
	    , #{matrequiredPlanNo}
	)


</insert>

</mapper>