<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.inout.mapper.InOutMapper">
	<select id="selectInstoreList" resultType="InstoreVO">
		SELECT
		    I.INSTORE_DATE,
		    I.INSTORE_QUANTITY,
		    I.EXPIRATION_DEADLINE,
		    PRD.STANDARD AS PRDSTANDARD,
		    PRD.UNIT     AS PRDUNIT,
		    ING.STANDARD AS INGSTANDARD,
		    ING.UNIT     AS INGUNIT,
		    OD.ORDERING_INGREDIENT,
		    OD.ORDERING_PRODUCT,
		    ODS.OUTSTORE_COMPANY,
		    ODS.INSTORE_COMPANY,
		    ING.INGREDIENT_NAME,
		    PRD.PRODUCT_NAME
		FROM
		              INSTORE I
		    LEFT JOIN ORDERING_DETAIL OD  ON I.ORDERING_DETAIL_CODE = OD.ORDERING_DETAIL_CODE
		    LEFT JOIN ORDERS_DETAIL   ODS ON OD.ORDERING_DETAIL_CODE = ODS.ORDERING_DETAIL_CODE
		    LEFT JOIN INGREDIENT      ING ON OD.ORDERING_INGREDIENT = ING.INGREDIENT_CODE
		    LEFT JOIN PRODUCT         PRD ON OD.ORDERING_PRODUCT = PRD.PRODUCT_CODE
		WHERE
			ODS.INSTORE_COMPANY = #{companyInput}
			<if test="comp != null and comp != ''">
			AND ODS.OUTSTORE_COMPANY = #{comp}
			</if>
			<if test="item != null and item != ''">
		    AND (ING.INGREDIENT_NAME LIKE '%'|| #{item} ||'%' OR PRD.PRODUCT_NAME LIKE '%'|| #{item} ||'%')
			</if>
			<if test="year != null and year != ''">
			AND EXTRACT(YEAR FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{year})
			</if>
			<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{month})
			</if>
			<if test="prd != null and prd != ''">
			AND OD.ORDERING_PRODUCT IS NOT NULL
			</if>
			<if test="ing != null and ing != ''">
			AND OD.ORDERING_INGREDIENT IS NOT NULL
			</if>
		ORDER BY
		    I.INSTORE_NO DESC
	</select>
	<select id="selectOutstoreList" resultType="OutstoreVO">
		SELECT
		    O.OUTSTORE_DATE,
		    O.OUTSTORE_QUANTITY,
		    PRD.STANDARD AS PRDSTANDARD,
		    PRD.UNIT     AS PRDUNIT,
		    ING.STANDARD AS INGSTANDARD,
		    ING.UNIT     AS INGUNIT,
		    ODS.OUTSTORE_COMPANY,
		    ODS.INSTORE_COMPANY,
		    ODS.ORDERS_ITEM,
		    ING.INGREDIENT_NAME,
		    PRD.PRODUCT_NAME
		FROM
		         OUTSTORE O
		    JOIN ORDERS_DETAIL   ODS      ON O.ORDERS_DETAIL_NO = ODS.ORDERS_DETAIL_NO
		    LEFT JOIN ORDERING_DETAIL OD  ON OD.ORDERING_DETAIL_CODE = ODS.ORDERING_DETAIL_CODE
		    LEFT JOIN INGREDIENT      ING ON OD.ORDERING_INGREDIENT = ING.INGREDIENT_CODE
		    LEFT JOIN PRODUCT         PRD ON OD.ORDERING_PRODUCT = PRD.PRODUCT_CODE
		WHERE
			ODS.OUTSTORE_COMPANY = #{companyInput}
			<if test="comp != null and comp != ''">
			AND ODS.INSTORE_COMPANY = #{comp}
			</if>
			<if test="item != null and item != ''">
		    AND (ING.INGREDIENT_NAME LIKE '%'|| #{item} ||'%' OR PRD.PRODUCT_NAME LIKE '%'|| #{item} ||'%')
			</if>
			<if test="year != null and year != ''">
			AND EXTRACT(YEAR FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{year})
			</if>
			<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{month})
			</if>
			<if test="prd != null and prd != ''">
			AND OD.ORDERING_PRODUCT IS NOT NULL
			</if>
			<if test="ing != null and ing != ''">
			AND OD.ORDERING_INGREDIENT IS NOT NULL
			</if>
		ORDER BY
		    O.OUTSTORE_NO DESC
	</select>
	<select id="selectOrderListForInsert" resultType="OrderListVO">
		SELECT
		    O.ORDERING_DATE,
		    OD.ORDERING_INGREDIENT,
		    OD.ORDERING_PRODUCT,
		    OD.QUANTITY,
		    PRD.STANDARD            AS PRDSTANDARD,
		    PRD.UNIT                AS PRDUNIT,
		    ING.STANDARD            AS INGSTANDARD,
		    ING.UNIT                AS INGUNIT,
		    OD.ORDERING_DETAIL_CODE,
		    ING.INGREDIENT_NAME,
		    ING.EXPIRATION_DEADLINE AS ING_EXPIRATION_DEADLINE,
		    PRD.PRODUCT_NAME,
		    PRD.EXPIRATION_DEADLINE AS PRD_EXPIRATION_DEADLINE
		FROM
		         ORDERING O
		    JOIN ORDERING_DETAIL OD       ON O.ORDERING_CODE = OD.ORDERING_CODE
		    LEFT JOIN ORDERS_DETAIL   ODS ON ODS.ORDERING_DETAIL_CODE = OD.ORDERING_DETAIL_CODE
		    LEFT JOIN INGREDIENT      ING ON OD.ORDERING_INGREDIENT = ING.INGREDIENT_CODE
		    LEFT JOIN PRODUCT         PRD ON OD.ORDERING_PRODUCT = PRD.PRODUCT_CODE
		WHERE
			ODS.INSTORE_COMPANY = #{companyInput}
			<if test="comp != null and comp != ''">
			AND ODS.OUTSTORE_COMPANY = #{comp}
			</if>
			<if test="item != null and item != ''">
		    AND (ING.INGREDIENT_NAME LIKE '%'|| #{item} ||'%' OR PRD.PRODUCT_NAME LIKE '%'|| #{item} ||'%')
			</if>
			<if test="year != null and year != ''">
			AND EXTRACT(YEAR FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{year})
			</if>
			<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{month})
			</if>
			<if test="prd != null and prd != ''">
			AND OD.ORDERING_PRODUCT IS NOT NULL
			</if>
			<if test="ing != null and ing != ''">
			AND OD.ORDERING_INGREDIENT IS NOT NULL
			</if>
		ORDER BY
		    O.ORDERING_DATE DESC
	</select>
	<select id="selectInstoreListForInsert" resultType="InstoreVO">
		SELECT
		    I.INSTORE_DATE,
		    I.INSTORE_NO,
		    I.INSTORE_MANAGER,
		    PRD.STANDARD AS PRDSTANDARD,
		    PRD.UNIT     AS PRDUNIT,
		    ING.STANDARD AS INGSTANDARD,
		    ING.UNIT     AS INGUNIT,
		    I.INSTORE_QUANTITY,
		    OD.ORDERING_PRODUCT,
		    OD.ORDERING_INGREDIENT,
		    ODS.ORDERS_DETAIL_NO,
		    ING.INGREDIENT_NAME,
		    PRD.PRODUCT_NAME
		FROM
		         INSTORE I
		    JOIN ORDERING_DETAIL OD ON I.ORDERING_DETAIL_CODE = OD.ORDERING_DETAIL_CODE
		    LEFT JOIN ORDERS_DETAIL   ODS ON ODS.ORDERING_DETAIL_CODE = OD.ORDERING_DETAIL_CODE
		    LEFT JOIN INGREDIENT      ING ON OD.ORDERING_INGREDIENT = ING.INGREDIENT_CODE
		    LEFT JOIN PRODUCT         PRD ON OD.ORDERING_PRODUCT = PRD.PRODUCT_CODE
		WHERE
			ODS.OUTSTORE_COMPANY = #{companyInput}
			<if test="comp != null and comp != ''">
			AND ODS.INSTORE_COMPANY = #{comp}
			</if>
			<if test="item != null and item != ''">
		    AND (ING.INGREDIENT_NAME LIKE '%'|| #{item} ||'%' OR PRD.PRODUCT_NAME LIKE '%'|| #{item} ||'%')
			</if>
			<if test="year != null and year != ''">
			AND EXTRACT(YEAR FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{year})
			</if>
			<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM CAST(INSTORE_DATE AS DATE)) = TO_NUMBER(#{month})
			</if>
			<if test="prd != null and prd != ''">
			AND OD.ORDERING_PRODUCT IS NOT NULL
			</if>
			<if test="ing != null and ing != ''">
			AND OD.ORDERING_INGREDIENT IS NOT NULL
			</if>
		ORDER BY
		    I.INSTORE_DATE DESC
	</select>
	<insert id="insertInstoreInfo" parameterType="InstoreVO">
		INSERT INTO INSTORE (instore_no
		                    , instore_date
		                    , item_div
		                    , instore_quantity
		                    , outstore_quantity
		                    , stock_quantity
		                    , facilities_div_no
		                    , lot_no
		                    , instore_manager
		                    , ordering_detail_code
		                    , instore_div
		                    , expiration_deadline)
		VALUES      (('IN' || (SELECT GETSEQ('instore','instore_no') FROM dual))
		            , #{instoreDate}
		            , #{itemDiv}
		            , #{instoreQuantity}
		            , #{outstoreQuantity}
		            <choose>
		            <when test="itemDiv.equals('g1')">
		            , (SELECT amount FROM product WHERE product_name = #{name})
		            </when>
		            <otherwise>
		            , (SELECT amount FROM ingredient WHERE ingredient_name = #{name})
		            </otherwise>
		            </choose>
		            , (SELECT div FROM company WHERE company_name = #{companyInput})
		            , (SUBSTR(#{itemCode}, 1, 2) || (SELECT GETSEQ('instore','lot_no') FROM dual))
		            , (SELECT m.name FROM member m JOIN company c ON c.company_no = m.company_no WHERE c.company_name = #{companyInput} AND ROWNUM = 1)
		            , #{orderingDetailCode}
		            , #{instoreDiv}
		            <!--
		            , (SELECT pp.last_date FROM production_plan pp JOIN production_plan_detail ppd ON pp.production_plan_no = ppd.production_plan_no WHERE ppd.product_code = #{itemCode}) + #{expirationDeadline})
		            -->
		            , sysdate)
	</insert>
	<insert id="insertOutstoreInfo" parameterType="OutstoreVO">
		INSERT INTO OUTSTORE (outstore_no
		                     , outstore_date
		                     , outstore_quantity
		                     , outstore_manager
		                     , orders_detail_no
		                     , instore_no)
		VALUES      (('OU' || (SELECT GETSEQ('outstore','outstore_no') FROM dual))
		            , #{outstoreDate}
		            , #{outstoreQuantity}
		            , (SELECT m.name FROM member m JOIN company c ON c.company_no = m.company_no WHERE c.company_name = #{companyInput} AND ROWNUM = 1)
		            , #{ordersDetailNo}
		            , #{instoreNo})
	</insert>
	<select id="selectItemList" resultType="ItemListVO">
		(SELECT PRODUCT_NAME FROM PRODUCT)
		UNION 
		(SELECT INGREDIENT_NAME FROM INGREDIENT)
	</select>
</mapper>