<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<title></title>
</head>
<body>
<div class="pd-20 card-box mb-30">
	<div class="clearfix mb-20">
		<th:block th:if="${session.div == '본사'}">
		<div class="tab">
			<ul class="nav nav-tabs customtab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#ordering" role="tab" aria-selected="true" onclick="">발주 현황</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#orders" role="tab" aria-selected="false" onclick="">주문 현황</a>
				</li>
			</ul>
		</div>
		</th:block>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="ordering" role="tabpanel">
				<div class="pd-20">
					<div class="pull-left">
						<h4 class="text h2">발주 현황</h4>
					</div>
					<div class="pull-right">
					<th:block th:if="${session.div == '본사'}">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>발주 상태</label>
									<select class="selectpicker form-control" data-size="5" data-style="btn-outline-secondary" multiple data-max-options="3" id="statusSel">
							            <option value="d3">요청</option>
							            <option value="d4">긴급</option>
								    </select>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>일자</label>
									<select class="selectpicker form-control" data-style="btn-outline-secondary">
										<option value="none">---- 선택 ----</option>
										<optgroup label="발주 일자">
											<option value="odDesc">발주 최신순</option>
								            <option value="odAsc">발주 오래된순</option>
							            </optgroup>
							            <optgroup label="납기 희망 일자">
							            	<option value="deDesc">후순위 납기일자</option>
							            	<option value="deAsc">우선 납기일자</option>
							            </optgroup>
									</select>
								</div>
							</div>
						</div>
					</th:block>
					</div>
					<div class="table-responsive">
						<table class="table" id="orderingTable">
							<thead>
								<tr>
									<th scope="col">발주코드</th>
									<th scope="col">발주일자</th>
									<th scope="col">납기 희망 일자</th>
									<th scope="col">발주 요청자</th>
									<th scope="col">총 금액</th>
									<th scope="col">발주 상태</th>
									<th:block th:if="${session.div == '본사'}">
									<th scope="col">승인</th>
									<th scope="col">거절</th>
									</th:block>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<ul class="pagination justify-content-center">
							<li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
								<a href="#" aria-controls="DataTables_Table_0" tabindex="0" class="page-link">
									<i class="ion-chevron-left"></i>
								</a>
							</li>
							<li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
								<a href="#" aria-controls="DataTables_Table_0" tabindex="0" class="page-link">
									<i class="ion-chevron-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="orders" role="tabpanel">
				<div class="pd-20">
					<div class="pull-left">
						<h4 class="text-blue h4">주문 현황</h4>
					</div>
					<div class="pull-right">
							
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">주문코드</th>
									<th scope="col">주문 담당자</th>
									<th scope="col">입고업체</th>
									<th scope="col">주문일자</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-light">
									<td>OR-20241129-001</td>
									<td>홍길순</td>
									<td>(주)노랑</td>
									<td>2024-11-09</td>
								</tr>
								<tr class="table-light">
									<th scope="row">3</th>
									<td>Larry</td>
									<td>the Bird</td>
									<td>
										<div class="progress mb-20">
											<div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">주문완료</div>
										</div>
										<div class="progress mb-20">
											<div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">출고</div>
										</div>
										<div class="progress mb-20">
											<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">입고완료</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div><!-- 주문 현황 div -->
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">발주 취소서</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-3 col-sm-12" style="padding-left: 0">
							<div class="form-group">
								<label>발주 번호</label>
								<input type="text" class="form-control" readonly>
							</div>
						</div>
						<label>사유</label>
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-danger" id="cancelBtn">전송</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 발주 상세 모달 시작-->
	<div class="modal fade" id="Medium-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">발주 상세정보</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div id="grid"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 발주 상세 모달 끝-->
	
	<!-- 주문 상세 모달 시작-->
	<div class="modal fade" id="ordersModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered"  style="max-width: 1200px">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">발주 상세정보</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div id="ordersgrid"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 주문 상세 모달 끝-->
	
</div>		
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>		
<script>
let div = "[[${session.div}]]"; // 업체
let status = 'd3,d4';	// 기본 발주 상태
let sort = '';	// 기본 정렬 조건
let page = 1;	// 기본 페이지 수
orderingList(status, sort, page); // 발주 현황 목록 조회
ordersList(); // 주문 현황 목록 조회
   

// 정렬 조건에 따라 발주 현황 조회
$('select').on('change', function() {
	if($(this).attr("id") == 'statusSel'){ // 발주 상태가 바꼈을 때
		status = $(this).val();
	} else { // 일자 조건이 바꼈을 때
		sort = $(this).val();
	}
	page = 1;
	orderingList(status, sort, page); // 발주 현황 페이지 재생성
})

// 페이지 버튼 클릭 이벤트
$('ul.pagination.justify-content-center').on('click', 'li', function(){
	if(!$(this).hasClass("disabled")){ // 비활성화 된 버튼을 클릭하지 않았을 때
		if($(this).hasClass("next")){	// > 버튼을 눌렀을때
			page = Number($('li.paginate_button.page-item.page.active').children().text()) + 1;
		}
		else if($(this).hasClass("previous")){ // < 버튼을 눌렀을때
			page = Number($('li.paginate_button.page-item.page.active').children().text()) - 1;
		} else{
			page = $(this).children().text();
		}
		orderingList(status, sort, page) // 발주 현황 목록 재생성
	}
})

// 발주 취소서 전송 버튼 클릭 이벤트
$('#cancelBtn').on('click', function() {
	let no = $('#bd-example-modal-lg input').val(); // 발주 번호
	let reason = $('#bd-example-modal-lg textarea').val(); // 취소 사유
	$.ajax({
	    type : 'post',
	    url : '/ordering/updateOdCancel?no=' + no + '&reason=' + reason, 
	    dataType : 'text',
	    success : function(result) {
	        let resultData = JSON.parse(result);
	        if(resultData.result == true){
	        	window.location.href = 'http://localhost:8099/order/list';
	        } else {
	        	alert("잘못된 접근입니다.");	
	        }
	    },
	    error : function(request, status, error) { 
	        console.log(error);
	    }
	})
})

$('#Medium-modal').modal('hide')	// 모달 닫기
// 발주 상세 모달 보여주는 함수
function showModal(data){
	$('#Medium-modal').on('shown.bs.modal', function (event) {	// 모달이 보여졌을 때
		$('#Medium-modal .modal-body #grid .tui-grid-container').remove(); // 모달 내용 삭제
		makeDetailGrid(data); // 상세 내용 그리드 생성
	})
}

// 발주 현황 조회 함수
function orderingList(status, sort, page){
	fetch(`/ordering/list?status=${status}&sort=${sort}&page=${page}`)
	.then(response => response.json())
	.then(result => {
		let totalPage = result.page;
		let endPage = Math.ceil(totalPage / 10);
		$('li.paginate_button.page-item.page').remove();
		for(let i = 0; i < endPage; i++){
			let ele;
			if(page == i+1) { // 현재 페이지일 경우
				ele = `<li class="paginate_button page-item page active">
					<a href="#" aria-controls="DataTables_Table_0" data-dt-idx="${i+1}" tabindex="0" class="page-link">${i+1}</a>
				</li>`;
			} else {
				ele = `<li class="paginate_button page-item page">
					<a href="#" aria-controls="DataTables_Table_0" data-dt-idx="${i+1}" tabindex="0" class="page-link">${i+1}</a>
				</li>`;
			}
			$('ul.pagination.justify-content-center li:last-child').before(ele);
		}
		if(totalPage == endPage || Math.ceil(totalPage/10) == 1) { // 페이지 내용이 없거나 1 페이지만 있을 경우 
			$('ul.pagination.justify-content-center li:first-child').addClass("disabled");
			$('ul.pagination.justify-content-center li:last-child').addClass("disabled");
		} else if(page == 1) { // 페이지가 1일 경우
			$('ul.pagination.justify-content-center li:first-child').addClass("disabled");
			$('ul.pagination.justify-content-center li:last-child').removeClass("disabled");
		} else if(page == endPage){ // 페이지가 마지막 페이지일 경우
			$('ul.pagination.justify-content-center li:first-child').removeClass("disabled");
			$('ul.pagination.justify-content-center li:last-child').addClass("disabled");
		} else {
			$('ul.pagination.justify-content-center li:first-child').removeClass("disabled");
			$('ul.pagination.justify-content-center li:last-child').removeClass("disabled");
		}
		
		$('#orderingTable tbody tr').remove(); // 테이블 데이터 삭제
		result.data.forEach(data => {
			let ele;
			if(data.approvalWhether != 'd4'){ // 요청 상태일 경우
				if(div == '본사'){
					ele = `<tr class="table-light">
						<td data-id="${data.orderformNo}">
							<a href="#" class="btn-block" data-toggle="modal" data-target="#Medium-modal" type="button">${data.orderingCode}</a>
						</td>
						<td>${data.orderingDate.substring(0,10)}</td>
						<td>${data.deliveryDesireDate.substring(0,10)}</td>
						<td>${data.orderingRequestManager}</td>
						<td>${data.totalPrice.toLocaleString('ko-KR')}</td>
						<td><span class="badge badge-secondary">요청</span></td>
						<td><button type="button" class="btn btn-outline-success btn-sm" id="acceptBtn">승인</button></td>
						<td>
							<a href="#" class="btn-block" data-toggle="modal" data-target="#bd-example-modal-lg" type="button">
							<button type="button" data-id="${data.orderingCode}" class="btn btn-outline-danger btn-sm" id="modalCancel">거절</button>
							</a>
						</td>
					</tr>`;
				} else {
					ele = `<tr class="table-light">
						<td data-id="${data.orderformNo}">
							<a href="#" class="btn-block" data-toggle="modal" data-target="#Medium-modal" type="button">${data.orderingCode}</a>
						</td>
						<td>${data.orderingDate.substring(0,10)}</td>
						<td>${data.deliveryDesireDate.substring(0,10)}</td>
						<td>${data.orderingRequestManager}</td>
						<td>${data.totalPrice.toLocaleString('ko-KR')}</td>`;
						if(data.approvalWhether == 'd3'){
							ele += `<td><div class="progress">
		                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">대기중</div>
		                        </div></td>
							</tr>`;
						} else if(data.approvalWhether == 'd1'){
							ele += `<td><div class="progress">
	                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">승인</div>
	                        </div></td>`;
						} else {
							ele += `<td><div class="progress">
	                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">거절</div>
	                        </div></td>`;
						}
						
				}
			} else { // 긴급 상태일 경우
				if(div == '본사'){
					ele = `<tr class="table-danger">
						<td data-id="${data.orderformNo}">
							<a href="#" class="btn-block" data-toggle="modal" data-target="#Medium-modal" type="button">${data.orderingCode}</a>
						</td>
						<td>${data.orderingDate.substring(0,10)}</td>
						<td>${data.deliveryDesireDate.substring(0,10)}</td>
						<td>${data.orderingRequestManager}</td>
						<td>${data.totalPrice.toLocaleString('ko-KR')}</td>
						<td><span class="badge badge-danger">긴급</span></td>
						<td><button type="button" class="btn btn-outline-success btn-sm" id="acceptBtn">승인</button></td>
						<td>
							<a href="#" class="btn-block" data-toggle="modal" data-target="#bd-example-modal-lg" type="button">
							<button type="button" data-id="${data.orderingCode}" class="btn btn-outline-danger btn-sm" id="modalCancel">거절</button>
							</a>
						</td>
					</tr>`;
				} else {
					ele = `<tr class="table-danger">
						<td data-id="${data.orderformNo}">
							<a href="#" class="btn-block" data-toggle="modal" data-target="#Medium-modal" type="button">${data.orderingCode}</a>
						</td>
						<td>${data.orderingDate.substring(0,10)}</td>
						<td>${data.deliveryDesireDate.substring(0,10)}</td>
						<td>${data.orderingRequestManager}</td>
						<td>${data.totalPrice.toLocaleString('ko-KR')}</td>
						<td><div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">대기중</div>
                        </div></td>
					</tr>`;
				}
				
			}
			$('#orderingTable tbody').append(ele); // 테이블 데이터 추가
		})
		// 승인 버튼 이벤트
		$('button#acceptBtn').on('click', function() {
			if(confirm("승인하시겠습니까?")){ 
				alert("승인");
				let code = $(this).closest('tr').children('td:first-child').children().text();
				$.ajax({
				    type : 'post',
				    url : '/ordering/updateOdAccept?code=' + code, 
				    dataType : 'text',
				    success : function(result) {
				        console.log(result);
				        window.location.href = 'http://localhost:8099/order/list';
				    },
				    error : function(request, status, error) { 
				        console.log(error);
				    }
				})
			}
		})
		
		// 거절 버튼 이벤트
		$('button#modalCancel').on('click', function() {
			// 데이터 값 초기화
			$('#bd-example-modal-lg input').val($(this).data("id"));
			$('#bd-example-modal-lg textarea').val('');
		})
		
		// 발주 코드 클릭 이벤트
		$('table td:first-child .btn-block').on('click', function() {
			$.ajax('/ordering/detailList?orderingCode=' + $(this).text())
			.done(result => {
				showModal(result); // 상세 모달 출력
			})
		})

	})
	.catch(err => console.log(err))
}
	
// 발주 상세 정보 그리드 생성 함수
function makeDetailGrid(datas){
	const ROW_COUNT = datas.length;
    const data = [];
    const columns = [
    	{name: 'orderingDetailCode', header: '발주 상세코드'},
    	{name: 'itemname', header: '품목명'},
    	{name: 'unit', header: '단위'},
    	{name: 'standard', header: '규격'},
    	{name: 'quantity',
    	 header: '수량',
    	 formatter: function(data){
    		 return data.value.toLocaleString('ko-KR');
    	 }},
    	{name: 'price',
    	 header: '총 금액',
    	 formatter: function(data){
    		 return data.value.toLocaleString('ko-KR');
    	 }}
    ];

    for (let i = 0; i < ROW_COUNT; i += 1) {
      const row = { id: i };
      row['itemname'] = datas[i].itemname;
      row['orderingDetailCode'] = datas[i].orderingDetailCode;
      row['price'] = datas[i].price;
      row['quantity'] = datas[i].quantity;
      row['standard'] = datas[i].standard;
      row['unit'] = datas[i].unit;
      data.push(row);
    }
	
	const grid = new tui.Grid({
     el: document.getElementById('grid'),	// 컨테이너 요소
     data: data,	// 표 데이터
     bodyHeight: 700,	// 표 크기
     columns: columns	// 표 헤더 이름
    });	
}

//주문 현황 조회 함수
function ordersList(){
	fetch(`/orders/ordersComList`)
	.then(response => response.json())
	.then(result => {
		$('#orders tbody tr').remove(); // 테이블 데이터 삭제
		result.data.forEach(data => {
			let ele = `<tr class="table-light">
					<td data-id="${data.ordersNo}">
						<a href="#" class="btn-block" data-toggle="modal" data-target="#ordersModal" type="button">${data.ordersNo}</a>
					</td>
					<td>${data.manager}</td>
					<td>${data.inCompany}</td>
					<td>${data.ordersDate.substring(0,10)}</td>
				</tr>`;
			
			$('#orders tbody').append(ele); // 테이블 데이터 추가
		})
		
		// 주문 코드 클릭 이벤트
		$('#orders table td:first-child .btn-block').on('click', function() {
			showOrdersModal($(this).text()); // 주문 상세 모달 출력
		})
	})
	.catch(err => console.log(err))
}

$('#ordersModal').modal('hide')	// 주문 상세 모달 닫기
//주문 상세 모달 보여주는 함수
function showOrdersModal(data){
	$('#ordersModal').on('shown.bs.modal', function (event) {	// 모달이 보여졌을 때
		$('#ordersModal .modal-body #ordersgrid .tui-grid-container').remove(); // 모달 내용 삭제
		makeOrdDetailGrid(data); // 상세 내용 그리드 생성
	})
}

//주문 상세 정보 그리드 생성 함수
function makeOrdDetailGrid(no){
    const columns = [
    	{name: 'ordersDetailNo', header: '주문 상세코드'},
    	{name: 'itemName', header: '품목명'},
    	{name: 'unit', header: '단위'},
    	{name: 'standard', header: '규격'},
    	{name: 'quantity', header: '수량'},
    	{name: 'outCompany', header: '출고업체'},
    	{name: 'situation', 
    	 header: '상태',
    	 formatter: function(data) {
    		 let ele = '';
             if (data.value == '주문완료') {
            	 ele = `<div class="progress">
                                 <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">주문완료</div>
                               </div>`;
             } else if (data.value == '출고') {
            	 ele = `<div class="progress">
                                 <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">출고</div>
                               </div>`;
             } else if (data.value == '입고완료') {
            	 ele = `<div class="progress">
                                 <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">입고완료</div>
                               </div>`;
             }
             return ele;
   	     }
    	}
    ];
	
	const grid = new tui.Grid({
     el: document.getElementById('ordersgrid'),	// 컨테이너 요소
     data: {
    	 api: {
             readData: { url: `/orders/detailComList?no=${no}`, method: 'GET' }
         },	// 표 데이터
     },
     bodyHeight: 700,	// 표 크기
     columns: columns	// 표 헤더 이름
    });	
	
	
}
</script>
</body>
</html>