<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<!-- [박진석|241122] toast grid 사용하기 위한 CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!-- toast grid CDN 끝 -->

<style>
.detailInputArea {
	display: inline-block;
	float: left;
	width: 35%;
}

.detailTableArea {
	display: inline-block;
	float: right; 
	width: 60%;
}

.form-control.date-picker[readonly] {
    background-color: #ffffff;
}

</style>

<div class="container">
	<div class="parentArea">
		<div class="insertButtons">
			<h2>생산 계획 관리</h2>
			<button type="button" class="btn btn-primary btn-sm" id="managerInsertFormBtn">날짜 선택</button>
			<button type="button" class="btn btn-primary btn-sm" id="employeeInsertBtn">생산계획 신규 작성</button>
		</div>
		<div>
		
		
			<!-- 부모 테이블 시작 -->
			<div class="card-box mb-30">
				<div class="pb-20">
					<table id="accounts" class="accounts-table table stripe hover nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">No</th>
								<th>생산계획 고유번호</th>
								<th>제품명</th>
								<th>계획량</th>
								<th>공유업체</th>
								<th>진행여부</th>
								<th>시작일</th>
								<th>마감일</th>
								<th>기타사항</th>

							</tr>
						</thead>
						<tbody>
							<th:block th:each="acc, sts : ${accounts}">
								<tr>
									<td class="table-plus">[[ ${sts.index + 1} ]]</td>
									<td id="parentOther">[[ ${acc.other} ]]</td>
									<td id="parentMemNo">[[ ${acc.memberNo} ]]</td>
									<td id="parentBrn" >[[ ${acc.brn} ]]</td>
									<td id="parentTel">[[ ${acc.tel} ]]</td>
									<td id="parentRegion" >[[ ${acc.region} ]]</td>									
									<td id="parentComAddr" >[[ ${acc.companyAddress} ]]</td>
									<td id="parentContDt" >[[ ${acc.contractDate} ]]</td>
									<td id="parentComNo">[[ ${acc.companyNo}]] </td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 부모 테이블 끝 -->
		</div>
	</div>
	<div class="childArea">
		<div class="detailInputArea">
		
			<!-- 상세보기 폼 시작 -->
			<div class="updateAccounts">
				<form id="updatePrdtplanForm" method="post">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>생산계획 고유번호</label> <input type="text" class="form-control"
									id="updProductionPlanNo" name="productionPlanNo" readonly>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>시작일자</label> <input type="text" class="form-control date-picker" 
									id="updStartDate" name="startDate" readonly>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>마감일자</label> <input type="text" class="form-control date-picker"  
									id="updLastDate" name="lastDate" readonly>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>생산업체</label> <input type="text" class="form-control"
									id="updPrdtComNm">
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>생산업체코드h</label> <input type="text" class="form-control"
									id="updProductionCompany" name="productionCompany">
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>납품위치</label> <input type="text" class="form-control"
									id="updDlvryLocNm">
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>납품위치코드h</label> <input type="text" class="form-control"
									id="updDeliveryLocation" name="deliveryLocation">
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>생산상태</label> <input type="text" class="form-control"
									id="updProgressSituation" readonly>
							</div>
						</div>
					</div>
				</form>
			</div>
		<!-- 상세보기 폼 끝 -->
		
		</div>
		
		<div class="detailTableArea">
		<button type="button" class="btn btn-primary btn-sm" id="childTblDelRow">행 삭제</button>
		<button type="button" class="btn btn-primary btn-sm" id="childTblNewRow">행 추가</button>
		<!-- 자식 테이블 시작 -->
		<div id="grid"></div>
		<!--
			<div class="card-box mb-30">
				<div class="pb-20">
					<table id="childTable" class="child-table display table stripe hover nowrap" style="width:100%">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">No</th>
								<th>제품코드</th>
								<th>제품명</th>
								<th>계획수량</th>
								<th>단위</th>
								<th>기타사항</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td><input type="text" id="row-1-age" name="row-1-age" value="61"></td>
									<td><input type="text" id="row-2-age" name="row-2-age" value="61"></td>
									<td><input type="text" id="row-3-age" name="row-3-age" value="61"></td>
									<td><input type="text" id="row-4-age" name="row-4-age" value="61"></td>
									<td><input type="text" id="row-5-age" name="row-5-age" value="61"></td>
									<td><input type="text" id="row-6-age" name="row-6-age" value="61"></td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
			-->
			<!-- 자식 테이블 끝 -->
		
			<div class="updateButtons">
				<button type="button" class="btn btn-danger btn-lg" id="resetFormBtn">취소</button>
				<button type="button" class="btn btn-primary btn-lg" id="udtFormBtn">저장</button>
			</div>
		</div>
	</div>
</div>



<script>
/*
var table = $('#childTable').DataTable({
	paging: false,
    searching: false,
    ordering: false,
    info: false,
	columnDefs: [
        {
            orderable: false,
            targets: [0, 1, 2, 3, 4, 5]
        }
    ]
});
*/
//========================================================================
// [박진석|241122] 이벤트 걸기
let udtFormBtn = document.querySelector("#udtFormBtn");			// 저장
udtFormBtn.addEventListener('click', insertPrdPlanAjax);




let appendRowBtn = document.querySelector("#childTblNewRow");	// 행 추가
appendRowBtn.addEventListener('click', function() {
	grid.appendRow();
})

let deleteRowBtn = document.querySelector("#childTblDelRow");	// 행 삭제
deleteRowBtn.addEventListener('click', function() {
	grid.removeRow(grid.getFocusedCell().rowKey);
})

// 이벤트 걸기 끝
// ========================================================================

	
	
// ========================================================================
// [박진석|241122] 자식 테이블 생성


var Grid = tui.Grid;
const grid = new Grid({
	el: document.getElementById('grid'),
	
	columns: [
		{
		  header: '제품코드',
		  name: 'employeeCode',
		  editor: 'text',
		},
		{
		  header: '제품명',
		  name: 'employeeName',
		  editor: 'text',
		},
		{
		  header:'계획수량',
		  name:'attendanceDate',
		  editor: 'text',
		},
		{
		  header: '단위',
		  name: 'attCode',
		  editor: 'text',
		},
		{
		  header: '기타사항',
		  name: 'attendanceTime',
		  editor: 'text',
		}
	],
	data: [
	],
})
// 테이블 생성 끝
//========================================================================


	
// ========================================================================
// [박진석|241122] 생산계획&상세 저장하는 AJAX
function insertPrdPlanAjax() {
	let updStartDate = document.querySelector("#updStartDate").value
	let updLastDate = document.querySelector("#updLastDate").value
	let updDeliveryLocation = document.querySelector("#updDeliveryLocation").value
	let updProductionCompany = document.querySelector("#updProductionCompany").value
	
	if(updStartDate == "" || updLastDate == "" || updDeliveryLocation == "" || updProductionCompany == "") {
		alert("날짜 또는 업체를 선택했는지 확인하세요.");
		return false;
	}
	
	
	if(confirm("생산을 저장 하시겠습니까?")) {
		$.ajax({
           url: "insertPrdtplan.do",
           type: "POST",
           data:  $('#updatePrdtplanForm').serialize(),
           success: function(data){
               alert("성공적으로 저장되었습니다.");
               console.log(data);
           },
           error: function(result){
        	   alert("저장에 실패하였습니다.");
        	   console.log(result);
        	}
       });
	} else {
		alert("취소하였습니다.");
	}
}
// 이벤트 걸기 끝
// ========================================================================

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</script>