<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/loginPage_layout}"
	  layout:fragment="Content">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="container">
		<div class="parentArea">
		<h2>생산 계획 관리</h2>
		</div>
	</div>
</body>
</html>