<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.common.mapper.ComCodeMapper">

	<select id="selectComCode" resultType="ComCodeVO">
		SELECT code_val
			   ,code_rule
		FROM   com_code
		WHERE  code_main = #{codeMain}
	</select>
	
</mapper>