<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<style>
.user-info-dropdown {
    padding-top: 20px;
}
</style>
<th:block th:fragment="HeaderFrag">
	<div class="header">
		<div class="header-left">
			<div class="menu-icon bi bi-list"></div>
			<div
				class="search-toggle-icon bi bi-search"
				data-toggle="header_search"
			></div>
			
		</div>
		<div class="header-right">
			<div class="user-info-dropdown">
				<span class="user-name" th:text="${session.name}"></span>
				<span th:text="${session.div}"></span>
				<span th:text="${session.position}"></span>
				<th:block th:if="${session.memNo == null}">
					<span>비회원</span>
				</th:block>
				<span class="user-name" >님 환영합니다</span>
			</div>
			<th:block th:if="${session.memNo != null}">
				<div>
					<button type="button" class="btn btn-secondary btm-sm" id="logoutBtn">로그아웃</button>
				</div>
			</th:block>
		</div>
	</div>

	<script>
		document.querySelector("#logoutBtn").addEventListener('click', function(event) {
			window.location.href = "logout.do";
		});
	</script>


		<script src="/vendors/scripts/core.js"></script>
		<script src="../vendors/scripts/script.min.js"></script>
		<script src="../vendors/scripts/process.js"></script>
		<script src="../vendors/scripts/layout-settings.js"></script>
		<script src="../plugins/apexcharts/apexcharts.min.js"></script>
		<script src="../plugins/datatables/js/jquery.dataTables.min.js"></script>
		<script src="../plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
		<script src="../plugins/datatables/js/dataTables.responsive.min.js"></script>
		<script src="../plugins/datatables/js/responsive.bootstrap4.min.js"></script>
		

</th:block>
<th:block th:fragment="NavFrag">
	<div class="left-side-bar">
			<div class="brand-logo">
				<a href="/welcome">
					<img src="/vendors/images/breadFlowLogoWhite.png">
					
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
				
					<!-- ============================================================== -->
					<!-- [박진석|24.11.21] 로그인 세션(권한)값에 따라 보이는 메뉴 다르게 설정-->
					<th:block th:switch="${session.div}">
					    
					    
					    
					    <!-- "본사"인 경우 -->
					    <ul id="accordion-menu" th:case="본사">
					    	<li class="dropdown">
								<a th:href="@{/accountList}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">계정 관리</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
									><span class="mtext">주문/발주 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">주문 신청</a></li>
									<li><a th:href="@{/welcome}">주문/발주 현황 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-table"></span
									><span class="mtext">일정/생산 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">생산계획 관리</a></li>
									<li><a th:href="@{/welcome}">자재소요계획 관리</a></li>
									<li><a th:href="@{/welcome}">자재소요계획 조회</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-calendar4-week"></span
									><span class="mtext">불량 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">불량 신청 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a th:href="@{/welcome}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-archive"></span
									><span class="mtext"> 재고 관리 </span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-command"></span
									><span class="mtext">입출고 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">입출고 거래 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-pie-chart"></span
									><span class="mtext">제품 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/productListAll}">제품 목록</a></li>
									<li><a th:href="@{/welcome}">제품 관리</a></li>
									<li><a th:href="@{/welcome}">BOM 조회</a></li>
									<li><a th:href="@{/welcome}">BOM 관리</a></li>
									<li><a th:href="@{/welcome}">원/부재료 조회</a></li>
									<li><a th:href="@{/welcome}">원/부재료 관리</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-file-earmark-text"></span
									><span class="mtext">매출 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">매출 내역 조회</a></li>
									<li><a th:href="@{/welcome}">매출 상세 내역 조회</a></li>
								</ul>
							</li>
					    </ul>
					    <!-- "본사" 끝 -->
					    
					    
					    
					    <!-- "공급업체"인 경우 -->
					    <ul id="accordion-menu" th:case="공급업체">
					    	<li class="dropdown">
								<a th:href="@{/account}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">계정 관리</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
									><span class="mtext">주문/발주 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">주문 현황 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-table"></span
									><span class="mtext">일정/생산 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">자재소요계획 관리</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-calendar4-week"></span
									><span class="mtext">불량 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">불량 신청</a></li>
									<li><a th:href="@{/welcome}">내 불량 신청 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a th:href="@{/welcome}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-archive"></span
									><span class="mtext"> 재고 관리 </span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-command"></span
									><span class="mtext">입출고 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">입출고 등록</a></li>
									<li><a th:href="@{/welcome}">내 입출고 거래 내역 조회</a></li>
								</ul>
							</li>
					    </ul>
					    <!-- "공급업체" 끝 -->
					    
					    
					    
					    <!-- "제조공장"인 경우 -->
					    <ul id="accordion-menu" th:case="제조공장">
					    	<li class="dropdown">
								<a th:href="@{/account}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">계정 관리</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
									><span class="mtext">주문/발주 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">발주 신청</a></li>
									<li><a th:href="@{/welcome}">발주 현황 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-table"></span
									><span class="mtext">일정/생산 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">생산계획 관리</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-calendar4-week"></span
									><span class="mtext">불량 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">불량 신청</a></li>
									<li><a th:href="@{/welcome}">내 불량 신청 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a th:href="@{/welcome}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-archive"></span
									><span class="mtext"> 재고 관리 </span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-command"></span
									><span class="mtext">입출고 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">입출고 등록</a></li>
									<li><a th:href="@{/welcome}">내 입출고 거래 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-pie-chart"></span
									><span class="mtext">제품 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/productListAll}">제품 목록</a></li>
									<li><a th:href="@{/welcome}">BOM 조회</a></li>
									<li><a th:href="@{/welcome}">원/부재료 조회</a></li>
								</ul>
							</li>
					    </ul>
					    <!-- "제조공장" 끝 -->
					    
					    
					    
					    <!-- "물류창고"인 경우 -->
					    <ul id="accordion-menu" th:case="물류창고">
					    	<li class="dropdown">
								<a th:href="@{/account}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">계정 관리</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
									><span class="mtext">주문/발주 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">발주 신청</a></li>
									<li><a th:href="@{/welcome}">발주 현황 조회</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-calendar4-week"></span
									><span class="mtext">불량 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">불량 신청</a></li>
									<li><a th:href="@{/welcome}">내 불량 신청 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a th:href="@{/welcome}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-archive"></span
									><span class="mtext"> 재고 관리 </span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-command"></span
									><span class="mtext">입출고 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">입출고 등록</a></li>
									<li><a th:href="@{/welcome}">내 입출고 거래 내역 조회</a></li>
								</ul>
							</li>
					    </ul>
					    <!-- "물류창고" 끝 -->
					    
					    
					    
					    <!-- "가맹점"인 경우 -->
					    <ul id="accordion-menu" th:case="가맹점">
					    	<li class="dropdown">
								<a th:href="@{/account}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">계정 관리</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
									><span class="mtext">주문/발주 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">발주 신청</a></li>
									<li><a th:href="@{/welcome}">발주 현황 조회</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-calendar4-week"></span
									><span class="mtext">불량 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">불량 신청</a></li>
									<li><a th:href="@{/welcome}">내 불량 신청 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a th:href="@{/welcome}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-archive"></span
									><span class="mtext"> 재고 관리 </span>
								</a>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-command"></span
									><span class="mtext">입출고 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/welcome}">입출고 등록</a></li>
									<li><a th:href="@{/welcome}">내 입출고 거래 내역 조회</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-file-earmark-text"></span
									><span class="mtext">매출 관리</span>
								</a>
								<ul class="submenu">
									<li><a th:href="@{/daySale}">매출 내역 조회</a></li>
									<li><a th:href="@{/welcome}">매출 상세 내역 조회</a></li>
									<li><a th:href="@{/pos}">POS</a></li>
								</ul>
							</li>
					    </ul>
					    <!-- "가맹점" 끝 -->
					    
					    
					    
					    <!-- 로그인 안한 경우 -->
					    <ul id="accordion-menu" th:case="*">
					    	<li class="dropdown">
								<a th:href="@{/index}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span
									><span class="mtext">로그인</span>
								</a>
							</li>
					    </ul>
					    <!-- 비로그인 끝 -->
					    
					    
					</th:block>
					<!-- 세션에 따라 보이는 메뉴 다르게 끝-->
					<!-- ============================================================== -->

				</div>
			</div>
		</div>
</th:block>

<th:block th:fragment="FooterFrag">
	<!-- js -->

		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager -->
	</th:block>
</html>