<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breadflow.app.infer.mapper.InferMapper">
	<select id="selectInferList" resultType="InferHistoryVO">
		SELECT * FROM (SELECT a.*, ROWNUM AS rnum FROM (
	
		SELECT
		    IH.INFER_NO,
		    IH.INFER_APPLICATION_DATE,
		    IH.CONFIRM_LOCATION,
		    (SELECT
		            INFER_ITEM
		     FROM
		            INFER_DETAIL_HISTORY
		     WHERE
		            INFER_NO = IH.INFER_NO AND ROWNUM = 1) || ' 외' AS INFER_ITEM,
		    (SELECT
		            SUM(INFER_QUANTITY)
		     FROM
		            INFER_DETAIL_HISTORY
		     WHERE
		            INFER_NO = IH.INFER_NO
		     GROUP BY
		            INFER_NO) AS INFER_QUANTITY,
		    IH.CONFIRM_WHETHER,
		    IA.ANSWER_DATE,
		    IA.DISPOSAL_WHETHER
		FROM
		    INFER_HISTORY IH LEFT JOIN INFER_ANSWER IA ON IH.INFER_NO = IA.INFER_NO
		WHERE 1 = 1
			<if test="div != '본사'">
			AND IH.CONFIRM_LOCATION = #{companyInput}
			</if>
			<if test="confirmComp != null and confirmComp != '' and div == '본사'">
			AND IH.CONFIRM_LOCATION = #{confirmComp}
			</if>
			<if test="year != null and year != ''">
			AND EXTRACT(YEAR FROM CAST(IH.INFER_APPLICATION_DATE AS DATE)) = TO_NUMBER(#{year})
			</if>
			<if test="month != null and month != ''">
			AND EXTRACT(MONTH FROM CAST(IH.INFER_APPLICATION_DATE AS DATE)) = TO_NUMBER(#{month})
			</if>
			<if test="check != null and check != ''">
			AND IH.CONFIRM_WHETHER = #{check}
			</if>
			<if test="disposal != null and disposal != ''">
			AND IA.DISPOSAL_WHETHER = #{disposal}
			</if>
			<if test="disposal == null">
			AND IA.DISPOSAL_WHETHER IS NULL
			</if>
			<if test="startDt != null and startDt != ''">
			<![CDATA[
			AND IH.INFER_APPLICATION_DATE >= TO_DATE(#{startDt}, 'yy/MM/dd') 
			]]>
			</if>
			<if test="endDt != null and endDt != ''">
			<![CDATA[
			AND IH.INFER_APPLICATION_DATE < TO_DATE(#{endDt}, 'yy/MM/dd') + 1
			]]>
			</if>
		ORDER BY
		    INFER_NO
		    
		) a WHERE ROWNUM <![CDATA[ <= ]]> #{page} * #{pageSize} ) a WHERE rnum >= (#{page} - 1) * #{pageSize} 
	</select>
	
	<select id="selectInferListDetail" resultType="InferDetailVO" parameterType="String">
		SELECT
		    IDH.INFER_DETAIL_CODE,
		    IDH.INFER_ITEM,
		    IDH.TOTAL_QUANTITY,
		    IDH.INFER_QUANTITY,
		    IDH.INFER_TYPE,
		    IDH.INFER_IMAGE,
		    IDH.INFER_NO,
		    IDH.INSTORE_NO,
		    IH.INFER_APPLICATION_DATE,
		    IH.CONFIRM_LOCATION,
		    IH.CONFIRM_WHETHER,
		    IH.INFER_MANAGER,
		    IA.DISPOSAL_WHETHER,
		    I.INSTORE_DATE
		FROM
		         INFER_DETAIL_HISTORY IDH
		    LEFT JOIN INFER_HISTORY IH ON IDH.INFER_NO = IH.INFER_NO
		    LEFT JOIN INSTORE I ON I.INSTORE_NO = IDH.INSTORE_NO
		    LEFT JOIN INFER_ANSWER IA ON IA.INFER_NO = IDH.INFER_NO
		WHERE
		    IDH.INFER_NO = #{inferNo}
		ORDER BY
		    IDH.INFER_DETAIL_CODE
	</select>
	
	<insert id="insertInferDetail" parameterType="InferDetailVO">
		INSERT INTO INFER_DETAIL_HISTORY 
				(
		        infer_detail_code,
		        infer_item,
		        total_quantity,
		        infer_quantity,
		        infer_type,
		        infer_image,
		        infer_no,
		        instore_no
		    	)
		VALUES 	(
				('BU' || (SELECT GETSEQ('infer_detail_history','infer_detail_code') FROM dual))
		        , #{inferItem}
		        , #{totalQuantity}
		        , #{inferQuantity}
		        , #{inferType}
		        , #{inferImage}
		        , #{inferNo}
		        , #{instoreNo}
		        )
	</insert>
	
	<insert id="insertInferHistory">
		<selectKey resultType="String" keyProperty="inferNo" order="BEFORE">
			SELECT 'BU' || (SELECT GETSEQ('infer_history','infer_no') FROM dual) FROM dual
		</selectKey>
		INSERT INTO INFER_HISTORY
			  	(
			  	infer_no,
                infer_application_date,
                confirm_location,
                confirm_whether,
                infer_manager
                )
		VALUES  (
        	    #{inferNo}
        	    , sysdate
                , #{confirmLocation}
                , '미확인'
                , #{inferManager}
                )
	</insert>
	
	<update id="updateInferHistory" parameterType="InferAnswerVO">
		UPDATE 	INFER_HISTORY
		SET		CONFIRM_WHETHER = '확인'
		WHERE	INFER_NO = #{inferNo}
	</update>
	
	<insert id="insertInferAnswer" parameterType="InferAnswerVO">
		INSERT INTO INFER_ANSWER 
		    	(
		        infer_answer_no,
		        disposal_whether,
		        answer,
		        manager,
		        answerer,
		        answer_date,
		        infer_no
		    	)
		VALUES  (
		        ('BA' || (SELECT GETSEQ('infer_answer','infer_answer_no') FROM dual))
		        , #{disposalWhether}
		        , #{answer}
		        , #{manager}
		        , #{answerer}
		        , sysdate
		        , #{inferNo}
		        )
	</insert>
	
	<select id="selectInferAnswerDetail" resultType="InferAnswerVO" parameterType="String">
		SELECT 	IA.DISPOSAL_WHETHER,
				IA.ANSWER,
				IA.MANAGER,
				IA.ANSWERER,
				IH.INFER_APPLICATION_DATE,
				IH.CONFIRM_LOCATION
		FROM	INFER_ANSWER IA LEFT JOIN INFER_HISTORY IH ON IA.INFER_NO = IH.INFER_NO
		WHERE	IA.INFER_NO = #{inferNo}
	</select>
	
	<select id="selectCompany" resultType="CompanyVO">
		SELECT		COMPANY_NO
					, DIV
					, COMPANY_NAME
					, COMPANY_ADDRESS
					, COMPANY_TEL
					, BRN
					, REGION
		FROM		COMPANY
		ORDER BY 	COMPANY_NO
	</select>
	
	<select id="countInferList" resultType="int">
	    SELECT
	        COUNT(*) 
	    FROM
	        INFER_HISTORY IH JOIN INFER_ANSWER IA ON IH.INFER_NO = IA.INFER_NO
	    <if test="clearTable != null and clearTable != ''">
	    WHERE 1 = 1
	        <if test="div != '본사'">
	            AND IH.CONFIRM_LOCATION = #{companyInput}
	        </if>
	        <if test="confirmComp != null and confirmComp != '' and div == '본사'">
	            AND IH.CONFIRM_LOCATION = #{confirmComp}
	        </if>
	        <if test="year != null and year != ''">
	            AND EXTRACT(YEAR FROM CAST(IH.INFER_APPLICATION_DATE AS DATE)) = TO_NUMBER(#{year})
	        </if>
	        <if test="month != null and month != ''">
	            AND EXTRACT(MONTH FROM CAST(IH.INFER_APPLICATION_DATE AS DATE)) = TO_NUMBER(#{month})
	        </if>
	        <if test="check != null and check != ''">
			AND IH.CONFIRM_WHETHER = #{check}
			</if>
			<if test="disposal != null and disposal != ''">
			AND IA.DISPOSAL_WHETHER = #{disposal}
			</if>
			<if test="disposal == null">
			AND IA.DISPOSAL_WHETHER IS NULL
			</if>
	        <if test="startDt != null and startDt != ''">
	        <![CDATA[
	            AND IH.INFER_APPLICATION_DATE >= TO_DATE(#{startDt}, 'yy/MM/dd') 
	        ]]>
	        </if>
	        <if test="endDt != null and endDt != ''">
	        <![CDATA[
	            AND IH.INFER_APPLICATION_DATE < TO_DATE(#{endDt}, 'yy/MM/dd') + 1
	        ]]>
	        </if>
	    </if>
	</select>
</mapper>