<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<title></title>
</head>
<body>
<div class="pd-20 card-box mb-30">
	<div class="clearfix">
		<h4 class="text h2">재고 조회</h4>
		<div class="form-group">
			<div class="row">
				<th:block th:if="${session.div == '본사'}">
					<div class="col-4">
						<select class="selectpicker form-control" data-size="5"
							data-style="btn-outline-secondary" multiple title="시설 선택" id="facilities">
							<option>제조공장</option>
							<option>물류창고</option>
							<option>가맹점</option>
						</select>
					</div>
				</th:block>
				<div class="col-4">
					<select class="selectpicker form-control" data-size="5"
						data-style="btn-outline-secondary" multiple title="구분" id="major">
						<option value="원재료">원재료</option>
						<option value="부재료">부재료</option>
						<option value="생산품">생산품</option>
						<option value="완제품">완제품</option>
					</select>
				</div>
				<div class="col-3">
					<input type="text" class="form-control" placeholder="품목명" id="itemForm">
				</div>
				<div class="col-1">
					<button class="btn btn-outline-secondary" type="button"
						id="stockSearchBtn">
						<i class="icon-copy bi bi-search"></i>
					</button>
				</div>
				<th:block th:if="${session.div == '제조공장' || session.div == '물류창고'}">
					<div class="col-3">
						<button class="btn btn-outline-danger" type="button"
							id="safeStockBtn">
							안전재고 신청
						</button>
					</div>
				</th:block>
			</div>
		</div>
		<div id="grid"></div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 1200px">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">재고 현황</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div id="stockGrid"></div>
			</div>
		</div>
	</div>
</div>
							
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script>
let div = "[[${session.div}]]"; // 업체
let grid;
stockList('', '', ''); // 재고 리스트 조회

// 검색 버튼 클릭 이벤트
$('#stockSearchBtn').on('click', function(){
	let facVal = $('#facilities').val(); // 선택된 시설 값들
	let facilities = '';
	if(facVal != undefined){
		facVal.forEach(value => {
			facilities += value + ',';	// 시설
		})
	}
	let majVal = $('#major').val(); // 선택된 구분 값들
	let major = '';
	majVal.forEach(value => {
		major += value + ',';	// 구분
	})
	let item = $('#itemForm').val();	// 품목명
	$('.tui-grid-container').remove();	// 기존 그리드 내용 제거
	stockList(facilities, major, item);	// 재고 그리드 생성
})

// 안전 재고 신청 클릭 이벤트
$('#safeStockBtn').on('click', function() {
	let checkRows = grid.getCheckedRows();
	if(checkRows.length == 0){
		alert("선택된 항목이 없습니다.");
		return;
	}
	let items = []; // 품목
	let total = 0; // 총 금액
	let date = new Date();
	date.setDate(date.getDay() + 3);	// 3일 이후
	if(checkRows.length != 0){
		checkRows.forEach(row => {
			let quantity = row.safeStockQuantity - row.stockQuantity;
			total += quantity * row.price; 
			items.push({"itemCode" :row.itemCode, 
					"itemQuan" :quantity});
		})
	}
	let list = {
	    "deliveryDesireDate" : date,
	    "totalPrice": total,
	    "itemCodes": items,
	    "approvalWhether": 'd4'
	};
	
	fetch('../ordering/insert', {
		method: "POST",
	 	headers: {
	    	"Content-Type": "application/json",
	  	},
		body: JSON.stringify(list)
	})
	.then(response => response.text())
	.then(data => {
		alert("안전재고가 신청되었습니다.");
		window.location.href = data;
	})
	.catch(err => console.log(err));
})

// 재고 리스트 생성 함수
function stockList(facilities, major, item){
	let columns;
	if(div == '본사'){	// 본사일 경우
		columns = [ {
			name : 'facilities',
			header : '시설',
			formatter: function(data) {	// 모달 뜨게 수정
				let ele = `<a href="#" class="btn-block" data-toggle="modal" data-target="#stockModal" type="button">
							${data.value}</a>`;
				return ele;
			}
		}, {
			name : 'itemCode',
			hidden: true
		}, {
			name : 'major',
			header : '구분'
		}, {
			name : 'sub',
			header : '카테고리'
		}, {
			name : 'orderingItem',
			header : '품목명',
			formatter: function(data) {
				let ele = `<a href="#" class="btn-block" data-toggle="modal" data-target="#stockModal" type="button">
							${data.value}</a>`;
				return ele;
			}
		}, {
			name : 'standard',
			header : '규격'
		}, {
			name : 'stockQuantity',
			header : '총 재고',
			formatter : function(data) {
				let stock = data.value;
				return stock.toLocaleString('ko-KR'); // 단위 변환
			},
		}, {
			name : 'price',
			hidden: true
		}, ];
	} else {
		columns = [ {
			name : 'itemCode',
			hidden: true
		}, {
			name : 'major',
			header : '구분'
		}, {
			name : 'sub',
			header : '카테고리'
		}, {
			name : 'orderingItem',
			header : '품목명',
			formatter: function(data) {
				let ele = `<a href="#" class="btn-block" data-toggle="modal" data-target="#stockModal" type="button">
							${data.value}</a>`;
				return ele;
			}
		}, {
			name : 'standard',
			header : '규격'
		}, {
			name : 'stockQuantity',
			header : '총 재고',
			formatter : function(data) {
				let stock = data.value;
				return stock.toLocaleString('ko-KR'); // 단위 변환
			},
		}, {
			name : 'safeStockQuantity',
			header : '안전 재고',
			formatter : function(data) {
				let stock = data.value;
				return stock.toLocaleString('ko-KR'); // 단위 변환
			},
			validation: {
	            validatorFn: (value, row, columnName) => {
		            return row.safeStockQuantity < row.stockQuantity;           	
	            }
	        }
		} ];
	}
	
	if(div == '본사' || div == '가맹점'){	// 본사나 가맹점일 경우
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : {
				api : {
					readData : {
						url : `/stock/stocklist?facilities=${facilities}&major=${major}&item=${item}`,
						method : 'GET'
					}
				},
			},
			scrollX : false,
			scrollY : false,
			minBodyHeight : 30,
			pageOptions : {
				useClient : true,
				perPage : 10
			},
			columns : columns
		});
	} else {	// 물류창고나 제조공장일 경우
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : {
				api : {
					readData : {
						url : `/stock/stocklist?facilities=${facilities}&major=${major}&item=${item}`,
						method : 'GET'
					}
				},
			},
			rowHeaders: ['checkbox'],
			scrollX : false,
			scrollY : false,
			minBodyHeight : 30,
			pageOptions : {
				useClient : true,
				perPage : 10
			},
			columns : columns,
			onGridUpdated: function(data){
				const rows = grid.getData();
		        rows.forEach((row, rowIndex) => {
		           if (row.stockQuantity > row.safeStockQuantity) {
		                grid.setRow(rowIndex, {
		                	itemCode: row.itemCode,
		                	major: row.major,
		                	sub: row.sub,
		                	orderingItem: row.orderingItem,
		                	standard: row.standard,
		                	stockQuantity: row.stockQuantity,
		                	safeStockQuantity: row.safeStockQuantity,
		                    _attributes: {
		                        checkDisabled: true 
		                    }
		           		});
           			}
	        	})
			}
		});
	}
	
	
	//
	grid.on('click', (ev) => {
		if(event.target.tagName == 'A'){
			let facilities = grid.getValue(ev.rowKey, 'facilities');	// 시설
			let itemCode = grid.getValue(ev.rowKey, 'itemCode');		// 품목코드
			$('stockModal').modal('hide')	// 모달 닫기
			$('#stockModal').on('shown.bs.modal', function (event) {	// 모달이 보여졌을 때
				$('#stockModal .modal-body #stockGrid .tui-grid-container').remove(); // 모달 내용 삭제
				stockDetailList(facilities, itemCode); 
			})
		}
	})
}	

// 재고 상세 현황 조회 함수
function stockDetailList(facilities, itemCode){
	const columns = [ {
		name : 'companyName',
		header : '회사명',
		rowSpan : true
	},  {
		name : 'orderingItem',
		header : '품목명',
		rowSpan : true
	}, {
		name : 'unit',
		header : '단위',
		rowSpan : true
	}, {
		name : 'standard',
		header : '규격',
		rowSpan : true
	}, {
		name : 'stockQuantity',
		header : '재고량',
		formatter : function(data) {
			let stock = data.value;
			return stock.toLocaleString('ko-KR'); // 단위 변환
		}
	}, {
		name : 'safeStockQuantity',
		header : '안전재고량',
		rowSpan : true,
		formatter : function(data) {
			let stock = data.value;
			return stock.toLocaleString('ko-KR'); // 단위 변환
		}
		
	}, {
		name : 'expirationDeadline',
		header : '유통기한',
		formatter : function(data) {
			if(data.value != null){
				date = data.value.substring(0,10); // 날짜 변환 
			} else {
				date = '기한없음';
			}
			return date;
		}
	} ];

	const grid = new tui.Grid({
		el : document.getElementById('stockGrid'),
		data : {
			api : {
				readData : {
					url : `/stock/detailList?facilities=${facilities}&itemCode=${itemCode}`,
					method : 'GET'
				}
			},
		},
		bodyHeight: 'fitToParent',
		minBodyHeight: 400,
		columns : columns,
		summary: {
			height: 40,
			position: 'bottom',
			columnContent: {
	          stockQuantity: {
	            template: function(valueMap) {
	              return `${valueMap.sum.toLocaleString('ko-KR')}`;
              	}
          	  }
            }
		},
		
	});

}
</script>
</body>
</html>