<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/breadflow_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>제품목록</title>
</head>
<body>
    <h2>제품목록</h2>
    <div class="d-flex gap-3 mb-3">
        <div class="col-md-3">
            <div class="form-group">
                <select class="selectpicker form-control form-control-sm" data-size="5"
                    data-style="btn-outline-secondary btn-sm" multiple data-max-options="3">
                    <optgroup label="카태고리">
                        <option>완제품</option>
                        <option>생산품</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <select class="selectpicker form-control form-control-sm" data-size="5"
                    data-style="btn-outline-secondary btn-sm" multiple data-max-options="3">
                    <optgroup label="완제품">
                        <option>커피/음료</option>
                        <option>포장지</option>
                        <option>박스</option>
                        <option>기타</option>
                        <option>식기류</option>
                        <option>데코레이션</option>
                    </optgroup>
                    <optgroup label="생산품">
                        <option>브레드</option>
                        <option>샌드위치</option>
                        <option>케이크</option>
                        <option>쿠키</option>
                        <option>생지</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mb-3">
        <input type="text" name="keyword" value="">
        <button class="DocSearch--active" type="submit">검색</button>
    </div>
    <div class="d-flex justify-content-end gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-sm" th:onclick="|location.href='@{/product/Insert}'|">등록</button>
        <button type="submit" class="btn btn-secondary btn-sm">수정</button>
        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus">제품코드</th>
                    <th class="datatable-nosort">제품명</th>
                    <th class="datatable-nosort">소비기한</th>
                    <th class="datatable-nosort">매입가</th>
                    <th class="datatable-nosort">판매가</th>
                    <th class="datatable-nosort">규격</th>
                    <th class="dt-body-center sorting_disabled">
                        <div class="dt-checkbox">
                            <input type="checkbox" name="select_all" value="1" id="example-select-all">
                            <span class="dt-checkbox-lable"></span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="info, sts : ${products}">
                    <tr>
                        <td class="clickable" th:onclick="showProductDetail([[${info.productCode}]])">[[${info.productCode}]]</td>
                        <td class="clickable" th:onclick="showProductDetail([[${info.productCode}]])">[[${info.productName}]]</td>
                        <td>[[${info.expirationDeadline}]]</td>
                        <td>[[${info.purchasePrice}]]</td>
                        <td>[[${info.salePrice}]]</td>
                        <td>[[${info.standard}]]</td>
                        <td class="dt-checkbox">
                            <div class="dt-checkbox">
                                <input type="checkbox" name="id[]" value>
                                <span class="dt-checkbox-lable"></span>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>

    <!-- Product Detail Modal -->
    <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="productDetailModalLabel">제품 상세정보</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div id="productDetailContent">
                        <!-- Content will be loaded dynamically -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .clickable {
            cursor: pointer;
            color: #0d6efd;
        }
        .clickable:hover {
            text-decoration: underline;
        }
    </style>

    <script>
        function showProductDetail(productCode) {
            // Here you would typically make an AJAX call to get the product details
            // For demonstration, we'll show static content
            const content = `
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>제품코드</th>
                            <td>${productCode}</td>
                            <th>카테고리</th>
                            <td>완제품</td>
                        </tr>
                        <tr>
                            <th>제품명</th>
                            <td colspan="3">샘플 제품명</td>
                        </tr>
                        <tr>
                            <th>소비기한</th>
                            <td>2024-12-31</td>
                            <th>규격</th>
                            <td>100g</td>
                        </tr>
                        <tr>
                            <th>매입가</th>
                            <td>10,000원</td>
                            <th>판매가</th>
                            <td>15,000원</td>
                        </tr>
                    </table>
                </div>
            `;

            document.getElementById('productDetailContent').innerHTML = content;
            $('#productDetailModal').modal('show');
        }

        // Optional: Close modal when clicking outside
        $(document).ready(function() {
            $('#productDetailModal').on('click', function(e) {
                if ($(e.target).hasClass('modal')) {
                    $('#productDetailModal').modal('hide');
                }
            });
        });
    </script>
</body>
</html>