<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 답변 등록</title>
</head>
<body>
	<div class="card-box mb-30">
		<!-- 해당 불량 번호값 시작 -->
		<div class="pd-20">
			<h2 style="float: left;" class="text-black">불량 답변 등록</h2>
			<button type="button" style="float: right;" class="btn btn-dark" id="backBtn" onclick='location.href = "/inferList"'>목록으로 돌아가기</button> <!-- 불량 내역 조회 페이지로 이동 -->
		</div>
		<!-- 해당 불량 번호값 끝 -->
		
		<div class="pd-20"></div>
		<form>
		<div class="pd-20 row">
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>답변 일자</label>
					<input class="form-control" type="text" name="todayDate" id="todayDate" readonly>
				</div>
			</div>
			
			<!-- 세션값 정보 입력 시작 -->
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>담당자</label>
					<input class="form-control" type="text" name="inferMember" id="inferMember" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>확인 위치</label>
					<input class="form-control" type="text" name="confirmLocation" id="confirmLocation" th:value="${session.companyNo}" readonly>
				</div>
			</div>
			
			<!-- 처분 선택 시작 -->
			<div class="col-md-3 col-sm-12">
				<label>처분</label>
				<div class="form-group">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-dark active">
							<input type="radio" name="options" value="i1" id="return" autocomplete="off" checked>반품
						</label>
						<label class="btn btn-outline-dark">
							<input type="radio" name="options" value="i2" id="dispose" autocomplete="off">폐기
						</label>
						<label class="btn btn-outline-dark">
							<input type="radio" name="options" value="i3" id="withdraw" autocomplete="off">철회
						</label>
					</div>
				</div>
			</div>
			<!-- 처분 선택 끝 -->
			
			<div class="form-group">
				<label>답변자</label>
				<input class="form-control" type="text" name="name" id="name" th:value="${session.name}" readonly>
				<input class="form-control" type="text" name="loginMember" id="loginMember" th:value="${session.memNo}" readonly style="display: none;">
			</div>
			<input id="inferNo" th:value="${inferNo}" style="display:none;" readonly>
			<!-- 세션값 정보 입력 끝 -->
			
		</div>
		<div class="pd-20">
		
			<!-- 테이블 시작 -->
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr>
						<th class="table-plus">불량 등록 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목 이미지</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">불량 유형</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferDetailTable">
					<tr th:each="infer : ${infer}">
						<td style="display:none;" th:text="${infer.inferDetailCode}"></td>
						<td th:text="${infer.inferApplicationDate}"></td>
						<td th:text="${infer.confirmLocation}"></td>
						<td><img id="inferImage" th:src="|/imgs${infer.inferImage}|" class="img-fluid" style="max-width: 200px; max-height: 100%; object-fit: cover;"></td>
						<td th:text="${infer.inferItem}"></td>
						<td th:text="${infer.inferQuantity}"></td>
						<td th:text="${infer.inferType}"></td>
						<td th:text="${infer.confirmWhether}"></td>
						<td style="display:none;" th:text="${infer.inferManager}"></td>
						<td style="display:none;" th:text="${infer.managerName}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 테이블 끝 -->
			
		</div>
		<div class="pd-20">
		
			<!-- 답변 입력 textarea 시작 -->
			<div class="form-group">
				<textarea class="form-control" name="answer" id="answer"></textarea>
			</div>
			<!-- 답변 입력 textarea 끝 -->
			
			<button type="button" style="float: right;" class="btn btn-primary" id="submitBtn">등록</button>
		</div>
		<div class="pd-20">
		</div>
		</form>
	</div>
	
    <script>
    	
    	// 페이지 로딩 시 기능 실행
		$(document).ready(function() {
			
			// 현재 날짜 로드
			loadTodayDate();
			
			// 첫 번째 열에서 필수값 추출
			let inferApplicationDate = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(2)").text().trim();
			let inferMember = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(10)").text().trim();
			let confirmLocation = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(3)").text().trim();
			
			// 추출한 데이터 값에 삽입
			$("#inferDate").val(inferApplicationDate);
			$("#inferMember").val(inferMember);
			$("#confirmLocation").val(confirmLocation);
			
			// 당일 날짜 가져오기
		    function loadTodayDate() {
		    	let objectDate = new Date();
		    	let day = objectDate.getDate();
		    	let month = objectDate.getMonth() + 1;
		    	let year = objectDate.getFullYear();
		    	let todayDate = year.toString().slice(-2) + "/" + (("00" + month.toString()).slice(-2)) + "/" + (("00" + day.toString()).slice(-2));
		 		$("#todayDate").val(todayDate);
		 	}
			
		});

		// 등록 버튼 클릭 시 실행
		$("#submitBtn").click(function() {
			
			// 현재 해당하는 불량 번호 저장
			let inferNo = $("#inferNo").val();
			
			let checkNull = false;
            let insertData = {
                disposalWhether : $("input[name='options']:checked").val(),
            	answer : $("#answer").val(),
            	manager : $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(9)").text().trim(),
            	answerer : $("#loginMember").val(),
            	answerDate : $("#todayDate").val(),
            	inferNo
            };
            
            if (insertData.answer == null || insertData.answer == '') {
				checkNull = true;
			}

            console.log(insertData);

            if (checkNull) {
            	alert("답변이 입력되지 않았습니다.");
            } else {
            	
				// 답변 등록
				$.ajax({
	                url: '/infer/insertInferAnswer',
	                method: 'POST',
	                async: false,
	                data: JSON.stringify(insertData),
	                contentType: 'application/json',
	                success: function(response) {
	                	console.log(insertData);
	                    alert("등록되었습니다.");
	                    window.location.href = "/inferList";
	                },
	                error: function() {
	                    alert("등록하는 데 실패했습니다.");
	                }
	            });

            }
			
		});
		
    </script>
</body>
</html>