<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 답변 등록</title>
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black">불량 답변 등록</h2>
		</div>
		<form>
		<div class="pd-20 row">
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>불량 일자</label>
					<input class="form-control" type="text" name="inferDate" id="inferDate" th:value="${inferDate}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>처분</label>
					<input class="form-control" type="text" name="disposalType" id="disposalType" th:value="폐기" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>담당자</label>
					<input class="form-control" type="text" name="inferMember" id="inferMember" th:value="${inferMember}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>확인 위치</label>
					<input class="form-control" type="text" name="confirmLocation" id="confirmLocation" th:value="${confirmLocation}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label>답변자</label>
				<input class="form-control" type="text" name="loginMember" id="loginMember" th:value="${loginMember}" readonly>
			</div>
		</div>
		<div class="btn-group btn-group-toggle pd-20" data-toggle="buttons">
			<label class="btn btn-outline-secondary active">
				<input type="radio" name="options" value="반품" id="seeAll" autocomplete="off" checked>전체
			</label>
			<label class="btn btn-outline-secondary">
				<input type="radio" name="options" value="폐기" id="seeUnchecked" autocomplete="off">미확인
			</label>
			<label class="btn btn-outline-secondary">
				<input type="radio" name="options" value="철회" id="seeChecked" autocomplete="off">확인
			</label>
		</div>
		<div class="pd-20">
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr>
						<th class="table-plus">입고 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목 이미지</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">처분</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferDetailTable">
					<tr th:each="infer : ${infer}">
						<td style="display:none;" th:text="${infer.inferDetailCode}"></td>
						<td th:text="${infer.instoreDate}"></td>
						<td th:text="${infer.confirmLocation}"></td>
						<td th:text="${infer.inferImage}"></td>
						<td th:text="${infer.inferItem}"></td>
						<td th:text="${infer.inferQuantity}"></td>
						<td th:text="페기"></td>
						<td th:text="${infer.confirmWhether}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pd-20">
			<div class="form-group">
				<textarea class="form-control" name="answer" id="answer"></textarea>
			</div>
		</div>
		<div class="pd-20">
			<button type="button" class="btn btn-primary" id="submitBtn">등록</button>
			<button type="reset" class="btn btn-primary" id="resetBtn">취소</button>
		</div>
		</form>
	</div>
	
    <script>
    	
    	// 페이지 로드 시 실행
		$(document).ready(function() {
        	
        	// 로그인한 업체 이름 저장
        	companyInput = $("#companyInput").val();
            
		});
		
		// 등록 버튼 클릭 시 실행
		$("#submitBtn").click(function() {
			
			// 필요 정보 추출
			var getData = [];
			var row = $(this);
            var data = {
                disposalWhether : ''
            };
            getData.push(data);
            console.log(getData);
			
			// 답변 등록
			$.ajax({
                url: url,
                method: 'POST',
                data: JSON.stringify(selectedRows),
                contentType: 'application/json',
                success: function(response) {
                	console.log(selectedRows);
                    alert("등록되었습니다.");
                },
                error: function() {
                    alert("등록하는 데 실패했습니다.");
                }
            });
			
			// 확인 여부 갱신
			$.ajax({
                url: url,
                method: 'PUT',
                data: JSON.stringify(selectedRows),
                contentType: 'application/json',
                success: function(response) {
                	console.log(selectedRows);
                    alert("등록되었습니다.");
                },
                error: function() {
                    alert("등록하는 데 실패했습니다.");
                }
            });
			
		});
		
    </script>
</body>
</html>