<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 답변 등록</title>
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black">불량 답변 등록</h2>
		</div>
		<form>
		<div class="pd-20 row">
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>불량 일자</label>
					<input class="form-control" type="text" name="inferDate" id="inferDate" th:value="${inferDate}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<label>처분</label>
				<div class="form-group">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-secondary active">
							<input type="radio" name="options" value="i1" id="return" autocomplete="off" checked>반품
						</label>
						<label class="btn btn-outline-secondary">
							<input type="radio" name="options" value="i2" id="dispose" autocomplete="off">폐기
						</label>
						<label class="btn btn-outline-secondary">
							<input type="radio" name="options" value="i3" id="withdraw" autocomplete="off">철회
						</label>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>담당자</label>
					<input class="form-control" type="text" name="inferMember" id="inferMember" th:value="${session.name}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>확인 위치</label>
					<input class="form-control" type="text" name="confirmLocation" id="confirmLocation" th:value="${session.companyNo}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label>답변자</label>
				<input class="form-control" type="text" name="loginMember" id="loginMember" th:value="${session.name}" readonly>
			</div>
			<input id="inferNo" th:value="${inferNo}" style="display:none;" readonly>
		</div>
		<div class="pd-20">
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr>
						<th class="table-plus">불량 등록 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목 이미지</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">불량 유형</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferDetailTable">
					<tr th:each="infer : ${infer}">
						<td style="display:none;" th:text="${infer.inferDetailCode}"></td>
						<td th:text="${infer.inferApplicationDate}"></td>
						<td th:text="${infer.confirmLocation}"></td>
						<td><img id="inferImage" src="/imgs/${infer.inferImage}" alt="" class="img-fluid" style="max-width: 50px; max-height: 50px; object-fit: cover;"></td>
						<td th:text="${infer.inferItem}"></td>
						<td th:text="${infer.inferQuantity}"></td>
						<td th:text="${infer.inferType}"></td>
						<td th:text="${infer.confirmWhether}"></td>
						<td style="display:none;" th:text="${infer.inferManager}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pd-20">
			<div class="form-group">
				<textarea class="form-control" name="answer" id="answer"></textarea>
			</div>
		</div>
		<div class="pd-20">
			<button type="button" class="btn btn-primary" id="submitBtn">등록</button>
			<button type="button" class="btn btn-primary" id="backBtn" onclick='location.href = "/inferList"'>취소</button>
		</div>
		</form>
	</div>
	
    <script>
    
		$(document).ready(function() {
			
			var inferApplicationDate = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(2)").text().trim();
			var inferMember = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(9)").text().trim();
			var confirmLocation = $("#inferDetailTable").find("tr:nth-child(1)").find("td:nth-child(3)").text().trim();
	
			$("#inferDate").val(inferApplicationDate);
			$("#inferMember").val(inferMember);
			$("#confirmLocation").val(confirmLocation);
			
		});

		// 등록 버튼 클릭 시 실행
		$("#submitBtn").click(function() {
			
			var inferNo = $("#inferNo").val();
			
			var checkNull = false;
            var insertData = {
                disposalWhether : $("input[name='options']:checked").val(),
            	answer : $("#answer").val(),
            	manager : $("#inferMember").val(),
            	answerer : $("#loginMember").val(),
            	inferNo
            };
            if (insertData.answer == null || insertData.answer == '') {
				checkNull = true;
			}

            console.log(insertData);

            if (checkNull) {
            	alert("답변이 입력되지 않았습니다.");
            } else {
				// 답변 등록
				$.ajax({
	                url: '/infer/insertInferAnswer',
	                method: 'POST',
	                async: false,
	                data: JSON.stringify(insertData),
	                contentType: 'application/json',
	                success: function(response) {
	                	console.log(insertData);
	                    alert("등록되었습니다.");
	                    window.location.href = "/inferList";
	                },
	                error: function() {
	                    alert("등록하는 데 실패했습니다.");
	                }
	            });

            }
			
		});
		
    </script>
</body>
</html>