<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 내역 상세 조회</title>
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black" th:text="${inferNo}"></h2>
		</div>
		<form>
		<div class="pd-20">
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr>
						<th class="table-plus">입고 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목 이미지</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">처분</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferDetailTable">
					<tr th:each="infer : ${infer}">
						<td style="display:none;" th:text="${infer.inferDetailCode}"></td>
						<td th:text="${infer.instoreDate}"></td>
						<td th:text="${infer.confirmLocation}"></td>
						<td><img id="inferImage" th:src="@{/imgs} + ${infer.inferImage}" alt="" class="img-fluid" style="max-width: 50px; max-height: 50px; object-fit: cover;"></td>
						<td th:text="${infer.inferItem}"></td>
						<td th:text="${infer.inferQuantity}"></td>
						<td th:text="${infer.disposalWhether}"></td>
						<td th:text="${infer.confirmWhether}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pd-20 row">
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>불량 일자</label>
					<input class="form-control" type="text" name="inferDate" id="inferDate" th:value="${answer.inferApplicationDate}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>처분</label>
					<input class="form-control" type="text" name="disposalType" id="disposalType" th:value="${answer.disposalWhether}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>담당자</label>
					<input class="form-control" type="text" name="inferMember" id="inferMember" th:value="${answer.manager}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>확인 위치</label>
					<input class="form-control" type="text" name="confirmLocation" id="confirmLocation" th:value="${answer.confirmLocation}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label>답변자</label>
				<input class="form-control" type="text" name="writerMember" id="writerMember" th:value="${answer.answerer}" readonly>
			</div>
			<input id="inferNo" th:value="${inferNo}" style="display:none;" readonly>
		</div>
		<div class="pd-20">
			<div class="form-group">
				<textarea class="form-control" name="answer" id="answer" th:text="${answer.answer}" readonly></textarea>
			</div>
		</div>
		</form>
		<div class="pd-20">
			<button type="button" class="btn btn-primary" id="backBtn" onclick='location.href = "/inferList"'>목록으로 돌아가기</button>
		</div>
	</div>
</body>
</html>