<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 내역 상세 조회</title>
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 style="float: left;" class="text-black">불량 내역 상세 조회</h2>
			<button type="button" style="float: right;" class="btn btn-dark" id="backBtn" onclick='location.href = "/inferList"'>목록으로 돌아가기</button> <!-- 불량 내역 조회 페이지로 이동 -->
		</div>
		<div class="pd-20"></div>
		<form>
		<!-- 불량 내역 테이블 시작 -->
		<div class="pd-20">
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr>
						<th class="table-plus">불량 등록 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목 이미지</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">불량 유형</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferDetailTable">
					<tr th:each="infer : ${infer}">
						<td style="display:none;" th:text="${infer.inferDetailCode}"></td>
						<td th:text="${infer.inferApplicationDate}"></td>
						<td th:text="${infer.confirmLocation}"></td>
						<td><img id="inferImage" th:src="|/imgs${infer.inferImage}|" class="img-fluid" style="max-width: 200px; max-height: 100%; object-fit: cover;"></td>
						<td th:text="${infer.inferItem}"></td>
						<td th:text="${infer.inferQuantity}"></td>
						<td th:text="${infer.inferType}"></td>
						<td th:text="${infer.confirmWhether}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 불량 내역 테이블 끝 -->
		
		<!-- 불량 답변 조회 시작 -->
		<div class="pd-20 row">
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>답변 일자</label>
					<input class="form-control" type="text" name="inferDate" id="inferDate" th:value="${answer.answerDate}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>처분</label>
					<input class="form-control" type="text" name="disposalType" id="disposalType" th:value="${answer.disposalWhether}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>담당자</label>
					<input class="form-control" type="text" name="inferMember" id="inferMember" th:value="${answer.manager}" readonly>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="form-group">
					<label>확인 위치</label>
					<input class="form-control" type="text" name="confirmLocation" id="confirmLocation" th:value="${answer.confirmLocation}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label>답변자</label>
				<input class="form-control" type="text" name="writerMember" id="writerMember" th:value="${answer.answerer}" readonly>
			</div>
			<input id="inferNo" th:value="${inferNo}" style="display:none;" readonly>
		</div>
		<div class="pd-20">
			<div class="form-group">
				<textarea class="form-control" name="answer" id="answer" th:text="${answer.answer}" readonly></textarea>
			</div>
		</div>
		<!-- 불량 답변 조회 끝 -->
		</form>
	</div>
</body>
</html>