<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>불량 내역 조회</title>
	<!-- 스타일 시작 -->
	<style>
	.dropdown-menu {
	    max-height: 300px;
	    overflow: scroll;
	    overflow-x: hidden;
	}
	</style>
	<!-- 스타일 끝 -->
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h2 class="text-black">불량 내역</h2>
		</div>
		<div>
			<!-- 세션값 저장 시작 -->
			<input class="form-control" type="text" name="companyInput" id="companyInput" th:value="${session.companyNo}" style="display:none;" readonly>
			<input class="form-control" type="text" name="companyDiv" id="companyDiv" th:value="${session.div}" style=display:none; readonly>
			<!-- 세션값 저장 끝 -->
			
			<!-- 전체 및 확인 여부 1차 조건 시작 -->
			<div class="btn-group btn-group-toggle pd-20" data-toggle="buttons">
				<label class="btn btn-outline-dark active">
					<input type="radio" name="options" value="전체" id="seeAll" autocomplete="off" checked>전체
				</label>
				<label class="btn btn-outline-dark">
					<input type="radio" name="options" value="미확인" id="seeUnchecked" autocomplete="off">미확인
				</label>
				<label class="btn btn-outline-dark">
					<input type="radio" name="options" value="확인" id="seeChecked" autocomplete="off">확인
				</label>
			</div>
			<!-- 전체 및 확인 여부 1차 조건 끝 -->
			
		</div>
		
		<!-- 2차 조건 시작 -->
		<div class="pd-20">
  			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="yearlyBtn" data-bs-toggle="dropdown" aria-expanded="false">연도</button>
			<ul class="dropdown-menu" id="yearlyMenu">
				<li th:each="num : ${#numbers.sequence(localDateTime-10, localDateTime)}">
                    <a class="dropdown-item year">[[ ${num} ]]</a>
                </li>
			</ul>
  			<button type="button" class="dropdown btn btn-dark dropdown-toggle" id="monthlyBtn" data-bs-toggle="dropdown" aria-expanded="false">월</button>
			<ul class="dropdown-menu" id="monthlyMenu">
 				<li th:each="num : ${#numbers.sequence(1,12)}"><a class="dropdown-item month">[[ ${num} ]]</a></li>
            </ul>
            <button type="button" class="dropdown btn btn-dark dropdown-toggle" id="confirmCompBtn" data-bs-toggle="dropdown" aria-expanded="false">확인 위치</button>
			<ul class="dropdown-menu" id="companyMenu">
 				<li th:each="company : ${companyList}">
                    <a th:attr="data-value=${company.companyNo}" class="dropdown-item company">[[ ${company.companyName} ]]</a>
                </li>
            </ul>
            <button type="button" class="dropdown btn btn-dark dropdown-toggle" id="disposalBtn" data-bs-toggle="dropdown" aria-expanded="false">처분</button>
			<ul class="dropdown-menu" id="disposal">
				<li class="dropdown-item disposal">처분 대기</li>
 				<li class="dropdown-item disposal" value="i1">반품</li>
 				<li class="dropdown-item disposal" value="i2">폐기</li>
 				<li class="dropdown-item disposal" value="i3">철회</li>
            </ul>
		</div>
		<div class="pd-20 input-group mb-3">
			<input class="form-control" type="text" id="searchKeyword">
			<button type="button" class="btn btn-primary" id="searchBtn">검색</button>
		</div>
		<div class="pd-20 input-group">
			<input class="form-control" type="date" id="startDate">
			<input class="form-control" type="date" id="endDate">
			<button type="button" class="btn btn-primary input-group-button" id="dateFilterBtn">검색</button>
		</div>
		<!-- 2차 조건 끝 -->
		
		<div class="pd-20">
		
			<!-- 테이블 시작 -->
			<table class="data-table table stripe hover multiple-select-row nowrap" id="inferTable">
				<thead>
					<tr id="inferHistoryHead">
						<th class="table-plus">불량 입력 일자</th>
						<th class="datatable-nosort">확인 위치</th>
						<th class="datatable-nosort">품목</th>
						<th>수량</th>
						<th class="datatable-nosort">처분</th>
						<th class="datatable-nosort">확인 여부</th>
					</tr>
				</thead>
				<tbody id="inferHistoryTable">

				</tbody>
			</table>
			<div id="noData" style="display: none;">
				<p style="text-align: center; padding: 20px; color: gray;">목록의 끝입니다.</p>
			</div>
			<!-- 테이블 끝 -->
			
			<!-- 페이징 시작 -->
			<div class="pagination-container" style="padding: 20px; text-align: center;">
			    <button type="button" class="btn btn-outline-dark" id="prevPageBtn">이전</button>
			    <span id="currentPage">1 페이지</span>
			    <button type="button" class="btn btn-outline-dark" id="nextPageBtn">다음</button>
			</div>
			<!-- 페이징 끝 -->
		</div>
	</div>
	
    <script>
    
	 	// 조건
	 	let companyInput = null;
	 	let div = null;
		let year = null;
		let month = null;
		let disposal = null;
		let check = null;
		let confirmComp = null;
		let startDt = null;
		let endDt = null;
		
		// 페이징 조건
		let page = 1;
		let pageSize = 10;
   		
		// 페이지 로딩 시 기능 실행
        $(document).ready(function() {
        	
        	// 로그인한 업체 이름 저장
        	companyInput = $("#companyInput").val();
        	
        	// 로그인한 업체 코드 저장
        	div = $("#companyDiv").val();

            // 기본 내역 출력
            changeFilter();
            
            // 조건 초기화
            function clear() {
    			year = null;
    			month = null;
    			disposal = null;
    			check = null;
    			confirmComp = null;
    			startDt = null;
    			endDt = null;
    			pageClear();
            }
            
            // 확인 조건 제외 초기화
            function confirmExClear() {
    			year = null;
    			month = null;
    			disposal = null;
    			confirmComp = null;
    			startDt = null;
    			endDt = null;
    			pageClear();
            }
            
            // 페이징 조건 초기화
            function pageClear() {
	        	page = 1;
    			pageSize = 10;
    			$("#currentPage").text(page + " 페이지");
	        }
            
            // 본사로 로그인 시 페이지 내용 변경
            if (div !== '본사') {
            	$("#confirmCompBtn").css("display", "none");
            	$("#inferHistoryHead").append("<th>답변 일자</th>");
            }
            
            // 전체 내역 버튼 클릭
            $("#seeAll").click(function() {
            	$("#yearlyBtn").text('연도');
            	$("#monthlyBtn").text('월');
            	$("#confirmCompBtn").text('확인 위치');
            	$("#disposalBtn").text('처분');
            	clear();
            	changeFilter();
            });
            
            // 미확인 내역 버튼 클릭
            $("#seeUnchecked").click(function() {
            	$("#yearlyBtn").text('연도');
            	$("#monthlyBtn").text('월');
            	$("#confirmCompBtn").text('확인 위치');
            	$("#disposalBtn").text('처분');
            	check = '미확인';
            	console.log(check);
            	confirmExClear();
            	changeFilter();
            });

            // 확인 내역 버튼 클릭
            $("#seeChecked").click(function() {
            	$("#yearlyBtn").text('연도');
            	$("#monthlyBtn").text('월');
            	$("#confirmCompBtn").text('확인 위치');
            	$("#disposalBtn").text('처분');
            	check = '확인';
            	console.log(check);
            	confirmExClear();
            	changeFilter();
            });

            // 연도별 필터 클릭
            $(document).on('click', '.year', function() {
                year = $(this).text().trim();
                $("#yearlyBtn").text(year);
                changeFilter();
            });

            // 월별 필터 클릭
            $(document).on('click', '.month', function() {
                month = $(this).text().trim();
                $("#monthlyBtn").text(month);
                changeFilter();
            });
            
            // 확인 위치별 필터 클릭
            $(document).on('click', '.company', function() {
            	let company = $(this).text().trim();
                confirmComp = $(this).data('value');
                console.log(confirmComp);
                $("#confirmCompBtn").text(company);
                pageClear();
                changeFilter();
            });
            
        	// 처분별 필터 클릭
            $(document).on('click', '.disposal', function() {
                disposal = $(this).attr('value');
	            pageClear();
	            changeFilter();
                $("#disposalBtn").text($(this).text().trim());
            });
            
            // 입력시 검색
            $("#searchKeyword").on('input', function() {
    	        let keyword = $(this).val().toLowerCase();
    	        searchData(keyword);
    	    });

            // 검색 버튼 클릭
            $("#searchBtn").click(function() {
                let keyword = $("#searchKeyword").val().toLowerCase();
                searchData(keyword);
            });

            // 날짜 필터 버튼 클릭
            $("#dateFilterBtn").click(function() {
                startDt = $("#startDate").val();
                endDt = $("#endDate").val();
                pageClear();
                changeFilter();
            });

        });
        
        // 필터값 전송
        function changeFilter() {
        	$.ajax({
            	url : '/infer/getInferList',
            	method : 'GET',
            	data : {companyInput,
            			year,
            			month,
            			disposal,
            			check,
            			confirmComp,
            			div,
            			startDt,
            			endDt,
            			page,
                        pageSize},
            	success : function(data) {
            		updateTable(data.list);
            		let lastPage = Math.ceil(data.count / pageSize);
            		if (page == lastPage) {
            			$("#nextPageBtn").hide();
            		} else {
            			$("#nextPageBtn").show();
            		}
            		if (page > 1) {
            			$("#prevPageBtn").show();
            		} else {
            			$("#prevPageBtn").hide();
            		}
            		if (data.count == 0 || data.count == null) {
            			$("#nextPageBtn").hide();
            			$("#prevPageBtn").hide();
            			$("#currentPage").hide();
            			$("#noData").css("display", "block");
            		} else {
            			$("#currentPage").show();
            			$("#noData").css("display", "none");
            		}
            	},
            	error : function() {
	                alert("내역을 불러오는 데 실패했습니다.");
	            }
            });
        }

        // 목록 갱신
        function updateTable(data) {
            let tbody = $("#inferHistoryTable");
            tbody.empty();
            data.forEach(function(item) {
                let row = null;
                	if (div !== '본사') {
                		if (item.confirmWhether != '확인') {
                			row += "<tr onclick='window.location = \"/inferDetailList/" + item.inferNo + "\"'>";
                		} else {
                			row += "<tr onclick='window.location = \"/inferDetailAnswer/" + item.inferNo + "\"'>";
                		}
                	} else {
                		if (item.confirmWhether != '확인') {
	                		row += "<tr onclick='window.location = \"/inferAnswerInsert/" + item.inferNo + "\"'>";
                		} else {
                			row += "<tr onclick='window.location = \"/inferDetailAnswer/" + item.inferNo + "\"'>";
                		}
                	}
                	row += "<td style='display:none;'>" + item.inferNo + "</td>";
                    row += "<td class='table-plus date'>" + item.inferApplicationDate + "</td>";
                    row += "<td>" + item.confirmLocation + "</td>";
                    row += "<td>" + item.inferItem + "</td>";
                    row += "<td>" + item.inferQuantity + "</td>";
                    if (item.disposalWhether != null) {
                		row += "<td>" + item.disposalWhether + "</td>";
                	} else {
                		row += "<td>처분 대기중</td>";
                	}
                    row += "<td>" + item.confirmWhether + "</td>";
                    if (div !== '본사') {
                    	if (item.answerDate != null) {
                    		row += "<td>" + item.answerDate + "</td>";
                    	} else {
                    		row += "<td>답변 대기중</td>";
                    	}
                    }
                	row += "</tr>";
                tbody.append(row);
            });
        }
        
        // 검색
        function searchData(keyword) {
            $("#inferHistoryTable tr").each(function() {
                let rowText = $(this).text().toLowerCase();
                if (rowText.includes(keyword)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

    </script>
</body>
</html>