<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/breadflow_layout}"
	layout:fragment="Content">
  <body>
	<div class="bg-white pd-20 card-box mb-30">
		<div id="chart1"></div>
	</div>
		<div class="bg-white pd-20 card-box mb-30">
	<div id="chart2"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30">
						<div id="chart3"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30">
						<div id="chart4"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30" style="width: 90%">
						<div id="chart5"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30">
						<div id="chart6"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30">
						<div id="chart7"></div>
					</div>
					<div class="bg-white pd-20 card-box mb-30">
						<div id="chart8"></div>
					</div>
		
		<script src="/plugins/highcharts-6.0.7/code/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-3d.js"></script>
		<script src="/plugins/highcharts-6.0.7/code/highcharts-more.js"></script>
		<script src="/vendors/scripts/highchart-setting.js"></script>
  </body>
</html>
