<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/breadflow_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="card-box mb-30">
		<div class="pd-20">
			<h4 class="text-blue h4">Data Table with Checkbox select</h4>
		</div>
		<div class="pb-20">
			<div id="DataTables_Table_3_wrapper"
				class="dataTables_wrapper dt-bootstrap4 no-footer">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="dataTables_length" id="DataTables_Table_3_length">
							<label>Show <select name="DataTables_Table_3_length"
								aria-controls="DataTables_Table_3"
								class="custom-select custom-select-sm form-control form-control-sm"><option
										value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="-1">All</option></select> entries
							</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div id="DataTables_Table_3_filter" class="dataTables_filter">
							<label>Search:<input type="search"
								class="form-control form-control-sm" placeholder="Search"
								aria-controls="DataTables_Table_3"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table
							class="checkbox-datatable table nowrap dataTable no-footer dtr-inline"
							id="DataTables_Table_3" role="grid"
							aria-describedby="DataTables_Table_3_info">
							<thead>
								<tr role="row">
									<th tabindex="0"
										aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
										aria-label="Name: activate to sort column descending">Name</th>
									<th tabindex="0"
										aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
										aria-label=" activate to sort column ascending">Position</th>
									<th tabindex="0"
										aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
										aria-label="Office: activate to sort column ascending">Office</th>
									<th tabindex="0"
										aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
										aria-label="Start date: activate to sort column ascending">Start
										date</th>
									<th tabindex="0"
										aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
										aria-label="Salary: activate to sort column ascending">Salary</th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" th:each="list : ${SList}">
									<td class="sorting_1">[[ ${list.companyName} ]]</td>
									<td>[[ ${list.companyNo} ]]</td>
									<td>[[ ${list.daySales} ]]</td>
									<td>[[ ${#dates.format(list.contractDate, 'yyyy-MM-dd')} ]]</td>
									<td>[[ ${list.companyNo} ]]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="dataTables_info" id="DataTables_Table_3_info"
							role="status" aria-live="polite">1-10 of 14 entries</div>
					</div>
					<div class="col-sm-12 col-md-7">
						<div class="dataTables_paginate paging_simple_numbers"
							id="DataTables_Table_3_paginate">
							<ul class="pagination">
								<li class="paginate_button page-item previous disabled"
									id="DataTables_Table_3_previous"><a href="#"
									aria-controls="DataTables_Table_3" data-dt-idx="0" tabindex="0"
									class="page-link"><i class="ion-chevron-left"></i></a></li>
								<li class="paginate_button page-item active"><a href="#"
									aria-controls="DataTables_Table_3" data-dt-idx="1" tabindex="0"
									class="page-link">1</a></li>
								<li class="paginate_button page-item "><a href="#"
									aria-controls="DataTables_Table_3" data-dt-idx="2" tabindex="0"
									class="page-link">2</a></li>
								<li class="paginate_button page-item next"
									id="DataTables_Table_3_next"><a href="#"
									aria-controls="DataTables_Table_3" data-dt-idx="3" tabindex="0"
									class="page-link"><i class="ion-chevron-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>